<div class="content p-84 mat-white-bge"></div>
<div class="content p-84 mat-white-bg"></div>
<div class="content p-84 mat-white-bg">

    <form name="FilterClientRecord" [formGroup]="testMail" (ngSubmit)="Send()" novalidate autocomplete="off">
        <table align="center" style="width: 548px;">
            <tr>
                <td>&nbsp;</td>
                <td>
                    <b>Email Test using System.Net.Mail</b>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <p style="color: red;">{{Result}}</p>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2" align="center">

                    <mat-form-field style=" width: 100%;">
                        <input matInput placeholder="SMTP Host Server" formControlName="SMTPHost">
                    </mat-form-field>
                </td>
            </tr>

            <tr>
                <td>&nbsp;</td>
                <td colspan="2" align="center">
                    <mat-form-field style=" width: 100%;">
                        <input matInput placeholder="UserName" formControlName="username">
                    </mat-form-field>
                </td>
            </tr>

            <tr>
                <td>&nbsp;</td>
                <td colspan="2" align="center">
                    <mat-form-field style=" width: 100%;">
                        <input matInput placeholder="Password" formControlName="password">
                    </mat-form-field>
                </td>
            </tr>

            <tr>
                <td>&nbsp;</td>
                <td colspan="2" align="center">
                    <mat-form-field style=" width: 100%;">
                        <input matInput placeholder="From Email Address" formControlName="FromEmail">
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2" align="center">
                    <mat-form-field style=" width: 100%;">
                        <input matInput placeholder="To Email Address" formControlName="SenderEmail">
                    </mat-form-field>
                </td>
            </tr>

            <tr>
                <td>&nbsp;</td>
                <td colspan="2" align="center">

                    <mat-form-field style=" width: 100%;">
                        <input matInput placeholder="Port" formControlName="Port">
                    </mat-form-field>
                </td>
            </tr>

            <tr>
                <td>&nbsp;</td>
                <td colspan="2" align="center">
                    <div class="contentCenter">
                        <div>
                            <button mat-raised-button color="accent" type="submit">send Mail</button>

                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="2" align="center">
                    <div *ngIf="working">
                        <mat-spinner [diameter]="40"></mat-spinner>
                    </div>
                </td>
            </tr>

        </table>
    </form>
</div>