<div id="ConfirmDialog" class="dialog-content-wrapper">
    <!-- <mat-toolbar class="mat-accent m-0">
      <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
            
            <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
             Confirmation
            </span>
          </div>
      </mat-toolbar-row>
    </mat-toolbar> -->


    <div mat-dialog-content class="m-0" fusePerfectScrollbar>

        <!-- <h1>Record Saved Successfully</h1> -->
        <div style="text-align: center;">
            <div>
                <mat-icon style="font-size: 70px;padding-top: 18px;margin-right: 50px;color: #2c9c07;">
                    check_circle_outline
                </mat-icon>
            </div>
            <div style="font-size: 24px;padding: 10px;">
               Success!
            </div>
        </div>
        <div class="contentCenter p-12">
            <div class="pb-12">
                <button mat-raised-button color="accent" type="submit" (click)="dialogRef.close()">
                    OK
                </button>
            </div>
        </div>
    </div>
</div>