@import "src/@fuse/scss/fuse";

#Relationship-Owner{
    .products-table {
        width: 100%;
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }

    .mat-toolbar-row, .mat-toolbar-single-row {
        min-height: 64px;
        padding: 16px;
        height: auto;
    }


    .mat-drawer-inner-container {
        overflow: initial !important;
    }
    .search-wrapper {
        width: 100%;
        max-width: 480px;
        border-radius: 28px;
        overflow: hidden;
        @include mat-elevation(1);

        @include media-breakpoint('xs') {
            margin-top: 15px;
            width: 100%;
        }
    }
   
}