<div id="login" fxLayout="column">

        <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
      
            <div id="login-form" style="background: white" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
      
                <div class="logo">
                    <!-- <img src="assets/images/logos/FirstDataLoginSuccess.png" > -->
                    <!-- <img *ngIf="!displayImage" src="assets/images/logos/HCBLogo.jpg" > -->
                    <img width="290" src="assets/images/logos/ORCASPLASHSCREEN.png" >
                    <h4 style="text-align: center;color: rgb(89, 140, 182);">{{Text}} Records</h4>
                </div>
      
                <div class="title">LOGIN TO YOUR ACCOUNT</div>
      
                <form name="loginForm" [formGroup]="loginForm" novalidate (ngSubmit)="doLogin(loginForm)">
      
                    <mat-form-field appearance="outline">
                        <mat-label>Username</mat-label>
                        <input matInput formControlName="username">
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                        <mat-error>
                            Username is required
                        </mat-error>
                    </mat-form-field>
      
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password">
                        <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                        <mat-error>
                            Password is required
                        </mat-error>
                    </mat-form-field>
      
                    <!-- <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center"> -->
                        <!-- <mat-checkbox class="remember-me" aria-label="Remember Me">
                            Remember Me
                        </mat-checkbox> -->
      
                        <!-- <a class="forgot-password" [routerLink]="'/auth/forgotpassword'">
                            Forgot Password?
                        </a>
                    </div> -->
      
                    <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN" [disabled]="loginForm.invalid">
                        LOGIN
                    </button>
                    <div class="contentCenter">
                      <span style="color: red;" *ngIf="loginError">{{loginError}}</span>
                    </div>
                    <div class="contentCenter">
                      <mat-spinner *ngIf="working" [diameter]="28"></mat-spinner>
                    </div>
                </form>
      
            </div>
        </div>
      </div>