<div id="Illness-Injury" class="page-layout simple inner-scroll" style=" padding-top: 80px;">
    <mat-toolbar class="accent m-0  mb-md-0">
        <mat-toolbar-row fxLayout="column" fxLayoutAlign="center center" fxFlex fxLayout.gt-md="row"
            fxLayoutAlign.gt-md="space-between center">
            <div class="logo mb-24 mb-md-0" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    person_outline
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Claim Assessor
                </span>
            </div>

            <div fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">
                <button mat-raised-button (click)="AddIllnessInjury()" matTooltip="Add">
                    <mat-icon>add</mat-icon>Add
                </button>
                <button mat-raised-button matTooltip="Filter Data" (click)="sidenav.toggle()"
                    style="margin-left: 10px;">
                    <mat-icon>search</mat-icon>
                    Filters
                </button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container style="height: 100%; padding: 16px;">
        <mat-sidenav #sidenav mode="over" position="end" style="width: 350px;" fusePerfectScrollbar>
            <div class="content p-24 mat-white-bg">
                <form name="FilterIllnessInjury" [formGroup]="FilterIllnessInjury"
                    (ngSubmit)="applyFilterIllnessInjury()" novalidate autocomplete="off">
                    <mat-form-field style=" width: 100%;">
                        <input matInput placeholder="Claim Assessor Name" formControlName="IllnessInjury">
                    </mat-form-field>

                    <div class="contentCenter">
                        <div>
                            <button mat-raised-button color="accent" type="submit">Search</button>
                            <button mat-raised-button color="accent" type="button" (click)="ClearIllnessInjury()"
                                style="margin-left: 5px">Clear</button>
                        </div>
                    </div>
                </form>
            </div>
        </mat-sidenav>

        <mat-sidenav-content class="mat-white-bg mat-elevation-z4" fusePerfectScrollbar>
            <div class="content-card p-0 mat-white-bg">
                <table mat-table [dataSource]="illnessInjuryData" matSort class="products-table">

                    <ng-container matColumnDef="Name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            <b> Claim Assessor Name</b>
                        </th>
                        <td mat-cell *matCellDef="let element">{{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Id">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button matTooltip="Edit" (click)="EditIllnessInjury(element.id)">
                                <mat-icon [color]="'accent'">edit</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button matTooltip="Delete" (click)="DeleteIllnessInjury(element.id)">
                                <mat-icon [color]="'accent'">delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
                </table>
                <mat-paginator #paginator1 [pageSizeOptions]="[10,15,20]" showFirstLastButtons>
                </mat-paginator>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>


