<div id="error-403" fxLayout="column" fxLayoutAlign="center center">

    <div class="content" fxLayout="column" fxLayoutAlign="center center">

        <div class="error-code">403</div>

        <div class="message">Access Denied, Sorry you do not have access to this page.</div>

        <!-- <div class="search" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="icon s-24">search</mat-icon>
                <input placeholder="Search for something" fxFlex>
            </div> -->

        <!-- <a class="back-link" [routerLink]="'/apps/dashboards/project'">Go back to dashboard</a> -->

    </div>

</div>