<div id="ClientReport" class="page-layout simple inner-scroll">
    <mat-toolbar class="accent m-0  mb-md-0">
        <mat-toolbar-row fxLayout="column" fxLayoutAlign="center center" fxFlex fxLayout.gt-md="row"
            fxLayoutAlign.gt-md="space-between center">
            <div class="logo mb-24 mb-md-0" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    list
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Client Report
                </span>
            </div>

            <div fxFlex="0 1 auto" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center">
                <span>
                    Total Client = {{TotalRecords}}
                </span>

                <button mat-raised-button matTooltip="Filter Data" (click)="sidenav.toggle()"
                    style="margin-left: 10px;">
                    <mat-icon>search</mat-icon>
                    Filters
                </button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>


    <mat-sidenav-container style="height: 100%; padding: 11px;">
        <mat-sidenav #sidenav mode="over" position="end" style="width: 550px;" fusePerfectScrollbar>

            <div class="content p-24 mat-white-bg">
                <form name="FilterClientReport" class="form-horizontal" fxLayout="column"
                    [formGroup]="FilterClientReport" (ngSubmit)="Filter()" novalidate autocomplete="off">
                    <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.xs="0px">
                        <mat-form-field class="example-column">
                            <input matInput placeholder="Company Name" formControlName="CompanyName">
                        </mat-form-field>

                        <mat-form-field class="example-column">
                            <mat-select placeholder="Client Type" formControlName="ClientTypeId">
                                <mat-option [value]="0">All</mat-option>
                                <mat-option [value]="1">Insurance</mat-option>
                                <mat-option [value]="2">Retail</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.xs="0px">
                        <mat-form-field class="example-column">
                            <input matInput readonly [matDatepicker]="clientAddedDatePicker1"
                                placeholder="Date New client Added" aria-invalid="false"
                                formControlName="ClientCreatedDateFrom">
                            <mat-datepicker-toggle matSuffix [for]="clientAddedDatePicker1">
                            </mat-datepicker-toggle>
                            <mat-datepicker #clientAddedDatePicker1></mat-datepicker>
                        </mat-form-field>
                        <mat-label>To:</mat-label>
                        <mat-form-field class="example-column">
                            <input matInput readonly [matDatepicker]="clientAddedDatePicker2"
                                placeholder="Date New client Added" aria-invalid="false"
                                formControlName="ClientCreatedDateTo">
                            <mat-datepicker-toggle matSuffix [for]="clientAddedDatePicker2">
                            </mat-datepicker-toggle>
                            <mat-datepicker #clientAddedDatePicker2></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="row" fxLayoutGap="30px" fxLayoutGap.xs="0px">

                    <mat-form-field style=" width: 100%;">
                        <input matInput placeholder="Email Address" formControlName="PrincipalContactEmail">
                    </mat-form-field>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="row" fxLayoutGap="30px" fxLayoutGap.xs="0px">
                        <!-- <mat-form-field class="example-column">
                            <mat-label>Relationship Owner</mat-label>
                            <mat-select placeholder="Relationship Owner" formControlName="RelationshipOwner">
                                <mat-option [value]="" selected>Select.....</mat-option>
                                <mat-option *ngFor="let a of UserType " [value]=a.userTypeDescription>{{a.userTypeDescription}}</mat-option>
                            </mat-select>
                        </mat-form-field>  -->
                        <mat-form-field style=" width: 100%;">
                            <mat-label>Services</mat-label>
                            <mat-select formControlName="ClientServices" multiple>
                                <mat-option [value]="0" selected>Select.....</mat-option>
                                <mat-option *ngFor="let a of ClientServices" [value]=a.serviceTypeId>{{a.serviceType}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="row" fxLayoutGap="30px" fxLayoutGap.xs="0px">
                        <mat-form-field class="example-column">
                            <mat-label>Relationship Owner</mat-label>
                            <!-- <input matInput formControlName="RelationshipOwner"> -->
                            <mat-select formControlName="RelationShipOwnerId">
                                <mat-option *ngFor="let owner of RelationShipOwnerId" [value]="owner.ownerId">
                                    {{owner.ownerName}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="example-column">
                            <mat-label>Region</mat-label>
                            <!-- <input matInput formControlName="RelationshipOwner"> -->
                            <mat-select formControlName="RegionId">                
                                <mat-option *ngFor="let region of getddlregion" [value]="region.id">
                                  {{region.name}}</mat-option>                                             
                              </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="75" fxFlex.sm="100" fxFlex.xs="100">
                        <div fxLayout="column" fxLayout.xs="row">
                            <div class="labeltext mr-16" fxFlex.lg="45" fxFlex.md="45" fxFlex.sm="50" fxFlex.xs="100">
                                <mat-label class="mr-36">Status</mat-label>
                                <mat-radio-group formControlName="IsActive">
                                    <mat-radio-button [value]="" class="example-ripple-checkbox mr-36"
                                        (change)="radioChange($event)">
                                        All</mat-radio-button>
                                    <mat-radio-button [value]="1" class="example-ripple-checkbox mr-36"
                                        (change)="radioChange($event)">
                                        Active</mat-radio-button>
                                    <mat-radio-button [value]="0" class="example-ripple-checkbox mr-36"
                                        (change)="radioChange($event)">
                                        InActive
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </div>

                    <div fxFlex="100" fxFlex.sm="100" fxFlex.xs="100">
                        <mat-form-field  style="width: 82%">
                            <mat-label>Export To</mat-label>
                            <mat-select (selectionChange)="OnChange($event)">
                                <mat-option [value]="">Select.....</mat-option>
                                <mat-option [value]="0">PDF</mat-option>
                                <mat-option [value]="1">EXCEL</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button style="margin-left: 2%" mat-raised-button color="accent" type="button" (click)="export()">Export</button>
                    </div>
                    <!-- <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="row" fxLayoutGap="30px" fxLayoutGap.xs="0px">
                       
                    </div> -->
                    <div fxFlex="75" fxFlex.sm="100" fxFlex.xs="100">
                        <div>
                            <button mat-raised-button color="accent" type="submit">Search</button>
                            <button mat-raised-button color="accent" type="button" (click)="Clear()"
                                style="margin-left: 5px">Clear</button>
                        </div>
                    </div>
                </form>
            </div>
        </mat-sidenav>
        <mat-sidenav-content class="mat-white-bg mat-elevation-z4" fusePerfectScrollbar>
            <div class="content-card p-0 mat-white-bg">
                <table id="table" mat-table [dataSource]="crmClientReport" class="products-table" multiTemplateDataRows matSort
                    (matSortChange)="sortChange($event)" [matSortActive]="sortColumn" [matSortDirection]="sortDirection"
                    matSortDisableClear>

                    <ng-container matColumnDef="CompanyName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            <b> Company Name</b>
                        </th>
                       <td mat-cell *matCellDef="let element" (click)="Edit(element.clientID)" class="name">{{element.companyName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="ClientAddedDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            <b>Client Added Date</b>
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.createdOn |date: "dd/MM/yyyy"}} </td>
                    </ng-container>

                    <ng-container matColumnDef="ClientType">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            <b>Client Type</b>
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.ClientType}} </td>
                    </ng-container>

                    <ng-container matColumnDef="RelationshipOwner">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            <b>Relationship Owner</b>
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.relationshipOwner}} </td>
                    </ng-container>

                    <ng-container matColumnDef="PrincipalContact">
                        <th mat-header-cell *matHeaderCellDef>
                            <b>Principal Contact </b>
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.principalContact}} </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <p *ngIf="NoReocrds" style="color:red; text-align:center">No Records To display!</p>   
                <mat-paginator [pageSizeOptions]="[10, 15, 25, 50, 100, 500]" [length]="TotalRecords"
                    [pageIndex]="pageIndex" [pageSize]="pageSize" (page)="pageChanged($event)" showFirstLastButtons>
                </mat-paginator>
            </div>
            <div class="contentCenter p-24" *ngIf="(working || errorText)">
                <div *ngIf="working">
                    <mat-spinner [diameter]="40"></mat-spinner>
                </div>
                <div *ngIf="errorText">
                    <p style="color: red;">{{ errorText }}</p>
                </div>
            </div>
        </mat-sidenav-content>


    </mat-sidenav-container>
</div>