<div id="openCaseDetails" class="page-layout simple left-sidebar inner-sidebar inner-scroll "
  style="overflow: auto !important;">
  <mat-toolbar class="m-0 mat-accent">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <div class="logo mb-24 mb-md-0" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
            list
        </mat-icon>
        <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
            Case Records
        </span>
    </div>

    <div fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center space-between">
     
        <button mat-raised-button  (click)="close()" style="margin-left: 10px;"
           >
           Back
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>








  <!-- <style>
    .holds-the-iframe {
        background:url(/img/loading.gif) center center no-repeat;
    }
    </style>
    
    <div class="holds-the-iframe">
          <iframe id="iframeID" name="iframeID" src="https://docs.google.com/viewerng/viewer?url=www.example.com&embedded=true"></iframe>
    </div> -->


<!-- <ngx-doc-viewer url="file:///C:/Users/Swati%20Kumbhar/Documents/segallCredentials.txt" viewer="google"  style="width:100%;height:93vh;">
</ngx-doc-viewer>  -->

<!-- <ngx-doc-viewer url="http://dev.rhealtech.com/downloads/segallCredentials.txt" viewer="google"  style="width:100%;height:93vh;">
</ngx-doc-viewer>  -->

<!-- <ngx-doc-viewer url="http://dev.rhealtech.com/downloads/NUMBERS.doc" viewer="google"  style="width:100%;height:50vh;">
</ngx-doc-viewer>  -->

<!-- <ngx-doc-viewer url="http://dev.rhealtech.com/HCBDoc/262020165851/CRM_HCBCredentials.txt" viewer="google"  style="width:100%;height:50vh;">
</ngx-doc-viewer>  -->
<!-- <div style="justify-content: space-between;padding-left: 482px;padding-top: 10px;">
<button color="accent" type="button" (click)="close()" style="
padding-left: 20px;
padding-right: 20px;
color: blue;
">
Back
</button>
</div> -->

<!-- 
<div #iframeId style="font-size: 12px;">{{ViewerUrl}}</div> -->



<!-- <ngx-doc-viewer [url]="ViewUrl" [viewerUrl]="ViewerUrl" viewer="url" style="width:100%;height:93vh;">
  <div *ngIf="working">
    <mat-spinner [diameter]="40"></mat-spinner>
  </div>
</ngx-doc-viewer>  -->


<!-- <ngx-doc-viewer [url]="ViewUrl" [viewer]="viewer"  style="width:100%;height:80vh;">
</ngx-doc-viewer>  -->


<div>
<iframe #iframe [src]="ViewUrl" frameborder="0" style="width:100%; height:900px;"></iframe>
</div>


</div>
<!-- <ngx-doc-viewer
[url]="ViewUrl"viewer="google" style="width:100%;height:50vh;">
</ngx-doc-viewer> -->

<!-- ViewUrl
<ngx-doc-viewer url="https://file-examples.com/wp-content/uploads/2017/02/file-sample_100kB.docx" viewer="google"  style="width:100%;height:93vh;">
</ngx-doc-viewer> -->    

 
