
<div id="AddEditUserRecords" class="page-layout simple inner-scroll">
    <!--for popup remove page-layout class-->
    <mat-toolbar class="m-0 mat-accent" >
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center" style="height: 40px;">
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center" >
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    list
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    User Profile Maintenance
                </span>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <div class="content-card p-24 m-0" fusePerfectScrollbar>
        <div fxLayoutAlign="space-between center" fxLayoutAlign.xs="center center" fxLayout="row" fxLayout.xs="column" fxLayoutGap.xs="10px">
            <span class="font-size-20">{{dialogTitle}} User Profile</span>
            <div style="flex: 1 auto;"></div>
            <div class="pb-12">
                <button mat-raised-button color="default" class="submit-button" type="button" (click)="back()">
                    Back
                </button>
                <button mat-raised-button color="accent" class="submit-button" type="button" [disabled]="formgroup.invalid" (click)="Save()"
                    style="margin-left: 10px">
                    Save Record
                </button>
            </div>
        </div>
        <div class="content-card m-0" fusePerfectScrollbar>
            <div class="mat-elevation-z2 p-24" style="background-color: white;">
                <form name="formgroup" fxLayout="column" [formGroup]="formgroup" novalidate  autocomplete="off">
                    <!-- <div fxLayout="column" fxLayout.xs="column" fxLayoutGap="60px" fxLayoutGap.xs="0px"> -->
                    <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.xs="0px">
                        <mat-form-field class="example-column">
                            <mat-label>User Name(Email Address)<span class="required">*</span></mat-label>
                            <input matInput formControlName="EmailAddress" [readonly]="!readable" autocomplete="nope">
                            <mat-error *ngIf="formgroup.controls['EmailAddress'].hasError('required')" class="alert alert-danger">Required</mat-error>  
                            <!-- <mat-error *ngIf="formgroup.controls['EmailAddress'].hasError('required')"
                            class="alert alert-danger">Required.</mat-error> -->
                        <mat-error
                            *ngIf="formgroup.controls['EmailAddress'].hasError('EmailTaken') && formgroup.controls['EmailAddress'].touched">
                            Email Address already exist</mat-error>
                      
                        </mat-form-field>

                        <mat-form-field class="example-column">
                            <mat-label>Password<span class="required">*</span></mat-label>
                            <input matInput formControlName="Password" type="Password" [readonly]="!readable" autocomplete="new-password">
                            <mat-error *ngIf="formgroup.controls['Password'].hasError('required')" class="alert alert-danger">Required</mat-error> 
                        </mat-form-field>

                        <mat-form-field class="example-column">
                            <mat-label>Full Name<span class="required">*</span></mat-label>
                            <input matInput formControlName="FullName" [readonly]="!readable">
                            <mat-error *ngIf="formgroup.controls['FullName'].hasError('required')" class="alert alert-danger">Required</mat-error> 
                        </mat-form-field>
                    </div>

                    <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.xs="0px">

                        <!-- <mat-form-field class="example-column">
                            <mat-label>Full Name<span class="required">*</span></mat-label>
                            <input matInput formControlName="FullName" [readonly]="!readable">
                            <mat-error *ngIf="formgroup.controls['FullName'].hasError('required')" class="alert alert-danger">Required</mat-error> 
                        </mat-form-field> -->

                        <mat-form-field class="example-column">
                            <mat-label>User Type<span class="required">*</span></mat-label>
                            <mat-select formControlName="UserTypeId" [disabled]="!readable" (selectionChange)="onUsertypeChange()">
                                <mat-option  [value]="" selected>Select.....</mat-option>
                                <mat-option *ngFor="let a of UserType " [value]=a.userTypeId>{{a.userTypeDescription}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="formgroup.controls['UserTypeId'].hasError('required')" class="alert alert-danger">Required</mat-error>  
                        </mat-form-field>
                        <mat-form-field class="example-column">
                            <mat-label>City</mat-label>
                            <input matInput formControlName="City" [readonly]="!readable">
                        </mat-form-field>
                        <mat-form-field class="example-column">
                            <mat-label>Telephone Number</mat-label>
                            <!-- <input matInput formControlName="TelephoneNumber" > -->
                            <input matInput formControlName="TelephoneNumber"  maxLength="20" [readonly]="!readable">
                            <mat-error *ngIf="formgroup.get('TelephoneNumber').errors && formgroup.get('TelephoneNumber').errors.maxLength">
                                Invalid</mat-error> 
                            <mat-error *ngIf="formgroup.controls['TelephoneNumber'].hasError('required')" class="alert alert-danger">Required</mat-error> 
                        </mat-form-field>
                    </div>

                    <!-- <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.xs="0px"> -->
                        <!-- <mat-form-field class="example-column">
                            <mat-label>City</mat-label>
                            <input matInput formControlName="City" [readonly]="!readable">
                        </mat-form-field> -->
                        <!-- <mat-form-field class="example-column">
                            <mat-label>Telephone Number</mat-label>
                          
                            <input matInput formControlName="TelephoneNumber"  maxLength="20" [readonly]="!readable">
                            <mat-error *ngIf="formgroup.get('TelephoneNumber').errors && formgroup.get('TelephoneNumber').errors.maxLength">
                                Invalid</mat-error> 
                            <mat-error *ngIf="formgroup.controls['TelephoneNumber'].hasError('required')" class="alert alert-danger">Required</mat-error> 
                        </mat-form-field> -->
                    <!-- </div> -->

                    <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.xs="0px">

                        <mat-form-field class="example-column2">
                            <mat-label>Address</mat-label>
                            <textarea matInput formControlName="Address" rows="1" [readonly]="!readable"></textarea>
                        </mat-form-field>

                        <mat-form-field class="example-column2">
                            <mat-label>Account Status</mat-label>
                            <mat-select formControlName="AccountActive" [disabled]="!readable">
                                <mat-option [value]="">Select.....</mat-option>
                                <mat-option [value]="0">disabled</mat-option>
                                <mat-option [value]="1">Enabled</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="example-column2" *ngIf="ShowSPDropDown">
                            <mat-label>Service Provider Company<span class="required">*</span></mat-label>
                            <mat-select formControlName="SPComapny">
                                <mat-option  [value]="" selected>Select.....</mat-option>
                                <mat-option *ngFor="let a of SpCompanyList " [value]=a.spCompanyID>{{a.spCompanyName}}</mat-option>
                                </mat-select>
                                  <mat-error *ngIf="formgroup.controls['SPComapny'].hasError('required')" class="alert alert-danger">Required</mat-error> 
                        </mat-form-field>
                        </div>
                        <!-- <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.xs="0px">

                        <mat-form-field class="example-column">
                            <mat-label>Service Provider Company</mat-label>
                            <mat-select formControlName="SPComapny" [disabled]="!readable">
                                <mat-option  [value]="" selected>Select.....</mat-option>
                                <mat-option *ngFor="let a of SpCompanyList " [value]=a.spCompanyID>{{a.spCompanyName}}</mat-option>
                            </mat-select> 
                        </mat-form-field>
                    </div> -->

                    <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.xs="0px">
                    
                          <mat-checkbox class="example-ripple-checkbox" *ngIf="ShowCMCheckbox" formControlName="CanWrokAsCM" [checked]="CanWrokAsCM" [disabled]="disableCheckCM">
                           Can work as Case Manager
                          </mat-checkbox>
                        
                    </div>

                </form>
            </div>
        </div>
    </div>
