#AddEditUserRecords{
    .products-table {
        width: 100%;
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }

    .example-container {
        height: 210px;
        overflow: auto;
      }

    .titletext{
        font-size: 22px;
        color: #3598dc;
        font-weight: 600;
    }
    .example-column{
        width: 49%;
    }
    .example-column1{
        width: 23.5%;
    }

    .example-column2{
        width: 32%;
    }
    .example-column3{
        width: 66%;
    }
    .example-margin{
        margin-left: 2%;
    }
    .flexrow{
        flex-flow: row wrap;
    }
    .radiobuttoncolumn{
        width: 33%;
        margin-left: 4%;
    }
    .example-ripple-checkbox{
        margin: 6px 12px 6px 0;
        padding-right: 1%;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 16px;
        color: #848484;
        font: 300 16px/1.125 Muli, Helvetica Neue, Arial, sans-serif;
        word-wrap: break-word;
    }
    .labeltext{
        font-size: 16px;
        color: #848484;
        font: 400 16px/1.125 Muli, Helvetica Neue, Arial, sans-serif;
        margin-top: 0.5%;
        margin-bottom: 1%;
    }

      .toggletext{
        font-size: 16px;
        color:black;
        font: 400 16px/1.125 Muli, Helvetica Neue, Arial, sans-serif;
        margin-top: 0.5%;
        margin-bottom: 1%;
    }

    .example-tab-icon {
        margin-left: 5%;
      }
    
      .mat-ink-bar {
       background-color: #6a9641;
   // background-color: #007bff;
    }
      .mat-tab-label-active {
        color: #6a9641 !important
     } 
 
    .mat-tab-group[mat-stretch-tabs] > .mat-tab-header .mat-tab-label {
        flex: auto !important;
       
      }
      .mat-toolbar-multiple-rows {
        min-height: 40px;
    }
      .mat-tab-label {
        display: flex !important;
        flex: 1 !important;
        flex: auto;
        flex-shrink: 1;
        height: 120px;       
      }

.required{
    color: red;
}

      .avatar_name{
        color:#039be5;
        border:1px solid #039be5;
        margin-right: 2%;
    }
      .timeline-sidebar {
        padding-left: 32px;

        // @include media-breakpoint('lt-md') {
        //     padding: 32px 0 0 0;
        // }

        .latest-activity {
            .content {

                .activities {
                     
                    .activity {
                        padding: 16px 0;

                        .avatar {
                            margin-right: 16px;
                            height: 50px !important;
                            min-width: 50px !important;
                            width: 50px !important;
                        }

                        .username {
                            font-weight: 600;
                        }

                        .message {
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }


    .profile-box {
        border-radius: 4px;
        overflow: hidden;
        margin-bottom: 16px;
        // @include mat-elevation(2);

        header {
            padding: 10px;

            .title {
                font-size: 17px;
            }

            .more {
                cursor: pointer;
            }
        }

        .content {
            padding: 16px;
        }

        footer {
            padding: 8px;
            border-top: 1px solid;
        }

        &.info-box {

            .info-line {
                margin-bottom: 24px;

                .title {
                    font-size: 15px;
                    font-weight: 600;
                    padding-bottom: 4px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    @media only screen and (max-width: 768px) {
        .example-column{
            width: 100%;
            margin-left: 0px;
        }
        .example-column1{
            width: 100%;
            margin-left: 0px;
        }
        .example-column2{
            width: 100%;
            margin-left: 0px;
        }
        .example-column3{
            width: 100%;
            margin-left: 0px;
        }
        .radiobuttoncolumn{
            width: 100%;
            margin-left: 0px;
        }
    }


}
