@import "src/@fuse/scss/fuse";
#openCaseDetails{

    .products-table {
        width: 100%;
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;

        .td{
            align-content: center;
        }
    }
    .avatar {
        width: 30px;
        min-width: 30px;
        height: 30px;
        line-height: 30px;
        margin: 0 8px 0 0;
        border-radius: 50%;
        font-size: 17px;
        font-weight: 600;
        text-align: center;
    }
    .required{
        color: red;
    }
    .name:hover{
        color:#039be5;
        cursor: pointer;
    }

    .disabled {
        pointer-events: none; 
        display: none;
      }
      .notification-counter {
        cursor: pointer;
      }

    .example-container {
        height: 210px;
        overflow: auto;
      }
    
        .titletext{
            font-size: 22px;
            color: #3598dc;
            font-weight: 600;
            margin-bottom: 1px;
          
        }
        .titletext1{
            font-size: 22px;
            color: #3598dc;
            font-weight: 600;
            // margin-bottom: auto;
            // margin-top: auto;
        }
    .example-column{
        width: 49%;
    }
    .example-column_1{
        width: 15.5%;
    }
    .example-column_2{
        width: 23.5%;
    }

    .example-column1{
        width: 23.5%;
    }

    .example-column2{
        width: 32%;
    }
    .example-margin{
        margin-left: 2%;
    }
    .example-ripple-checkbox{
        margin: 6px 12px 6px 0;
        padding-right: 1%;
        padding-top: 1%;
        padding-bottom: 1%;
        font-size: 16px;
        color: #848484;
        font: 300 16px/1.125 Muli, Helvetica Neue, Arial, sans-serif;
    }
    .mat-tab-label {
        display: flex !important;
        flex: 1 !important;
        flex: auto;
        flex-shrink: 1;
        height: 120px;
        
    }
    .example-tab-icon {
        margin-left: 5%;
      }
    
      .mat-ink-bar {
       background-color: #6a9641;
    }
      .mat-tab-label-active {
        color: #6a9641 !important
     } 
    // .avatar_name{
    //     color:#039be5;
    //     border:1px solid #039be5;
    // }
    .avatar_name{
        color:#039be5;
        border:1px solid #039be5;
        margin-right: 2%;
        margin-top: 10px;
    }
    .e-toolbar-wrapper{
        height: 46px !important;
    }  

    .message p{
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .timeline-sidebar {
        padding-left: 32px;

        @include media-breakpoint('lt-md') {
            padding: 32px 0 0 0;
        }

        .latest-activity {
            .content {

                .activities {

                    .activity {
                        padding: 16px 0;

                        .avatar {
                            margin-right: 16px;
                            height: 50px !important;
                            min-width: 50px !important;
                            width: 50px !important;
                        }

                        .username {
                            font-weight: 600;
                        }

                        .message {
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }


    .profile-box {
        border-radius: 4px;
        overflow: hidden;
        margin-bottom: 16px;
        @include mat-elevation(2);

        header {
            padding: 10px;

            .title {
                font-size: 17px;
            }

            .more {
                cursor: pointer;
            }
        }

        .content {
            padding: 16px;
        }

        footer {
            padding: 8px;
            border-top: 1px solid;
        }

        &.info-box {

            .info-line {
                margin-bottom: 24px;

                .title {
                    font-size: 15px;
                    font-weight: 600;
                    padding-bottom: 4px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
   
    // .mat-tab-group[mat-stretch-tabs] > .mat-tab-header .mat-tab-label {
    //     flex: auto !important;
    //   }
    .mat-tab-group[mat-stretch-tabs] > .mat-tab-header .mat-tab-label {
        flex: auto !important;
        height:105px;
      }
      .mat-tab-label {
        display: flex !important;
        flex: 1 !important;
        flex: auto;
        flex-shrink: 1;
        height: 80px;       //120px 
      } 
      .mat-toolbar-row, .mat-toolbar-single-row {
        min-height: 64px;
        padding: 16px;
        height: auto;
    }

      @media only screen and (max-width: 767px) {
        .example-column{
            width: 100%;
            margin-left: 0px;
        }
        .example-column1{
            width: 100%;
            margin-left: 0px;
        }
        .example-column2{
            width: 100%;
            margin-left: 0px;
        }
    }
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}

