<div id="OpenCloseCaseSchemeActivity" class="dialog-content-wrapper">
    <div class="page-layout simple inner-scroll">
        <mat-toolbar class="mat-accent m-0  mb-md-0">
            <mat-toolbar-row fxLayout="column" fxLayoutAlign="center center" fxFlex fxLayout.gt-md="row"
                fxLayoutAlign.gt-md="space-between center">
                <div class="logo mb-24 mb-md-0" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                        folder_open
                    </mat-icon>
                    <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                        {{dialogTitle}}
                    </span>
                </div>
                <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar-row>
        </mat-toolbar>
        <div class="mat-elevation-z8" fusePerfectScrollbar>
            <table mat-table [dataSource]="dataSource" class="products-table">

                <ng-container matColumnDef="HCBReferenceNo">
                    <th mat-header-cell *matHeaderCellDef> Case No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.hcbReferenceNo}} </td>
                </ng-container>

                     
                <ng-container matColumnDef="CompanyName">
                    <th mat-header-cell *matHeaderCellDef><b>Company<div style="padding-left: 12px;">Name</div></b></th>
                    <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
                </ng-container>

                <ng-container matColumnDef="CaseCreatedOn">
                    <th mat-header-cell *matHeaderCellDef><b>Created<div style="padding-left: 12px;">Date</div></b></th>
                    <td mat-cell *matCellDef="let element"> {{element.createdOn |date: "dd/MM/yyyy"}} </td>
                </ng-container>

                <ng-container matColumnDef="ClaimantName">
                    <th mat-header-cell *matHeaderCellDef><b>Claimant/Employee<div style="padding-left: 43px;">Name</div></b></th>
                        <td mat-cell *matCellDef="let element"  style="padding-left: 13px;"> {{element.claimantName}} </td>
                </ng-container>
<!--                       
                <ng-container matColumnDef="LastName">
                    <th mat-header-cell *matHeaderCellDef> Last Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.claimantLastName}} </td>
                </ng-container> -->

           

                <!-- <ng-container matColumnDef="ServiceType">
                    <th mat-header-cell *matHeaderCellDef> Service Types </th>
                    <td mat-cell *matCellDef="let element"> {{element.serviceType}} </td>
                </ng-container> -->

                <!-- <ng-container matColumnDef="HCBReceivedDate">
                    <th mat-header-cell *matHeaderCellDef> HCBReceived Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.hcbReceivedDate |date: "dd/MM/yyyy"}} </td>
                </ng-container> -->

                <!-- <ng-container matColumnDef="CaseClosedDate">
                    <th mat-header-cell *matHeaderCellDef> Case Closed Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.caseClosedDate |date: "dd/MM/yyyy"}} </td>
                </ng-container> -->

              

                <ng-container matColumnDef="Id">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button (click)="Edit(element.hcbReferenceId)" matTooltip="Edit">
                            <mat-icon [color]="'accent'">edit</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>
