@import "src/@fuse/scss/fuse";
#Dashboard{
    .widget {

        &.widget5 {

            .gridline-path.gridline-path-horizontal {
                display: none !important;
            }
        }
    }
    .headerText{
        font-size: 18px;
        font-weight: 700;
       
    }
    .mat-toolbar-multiple-rows {
        min-height: 40px;
    }

    .mat-title{
        font-size: 16px;
    }

    .products-table {
        width: 100%;
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        border-top: 1px solid rgba(0, 0, 0, 0.12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
    .example-container {
        height: 210px;
        overflow: auto;
      }

    .icon-display {
        transform: scale(1.5);
     }
     .mat-select-trigger {
        height: 2.650em !important;
    }
    .Active {
        background-color:blue;
       
      }

    button#thisweek:focus
{
    background:blue;
}
button#Lastweek:focus
{
    background:blue;
}
button#twoweek:focus
{
    background:blue;
}

.px-24{
    padding-right: 24px!important;
    padding-left: 24px!important;
}
.mb-24{
    margin-bottom: 24px!important;
}
.h-64
{
    height: 64px!important;
    min-height: 64px!important;
    max-height: 64px!important;
}
    .mat-form-field-appearance-outline .mat-form-field-infix {
        padding: 0em 0 0em 0 !important;
        margin: 0em 0 !important;
    }

    fuse-widget .mat-form-field.mat-form-field-type-mat-select .mat-form-field-wrapper {
        padding-top: 0px !important;
    }
}