@import "src/@fuse/scss/fuse";
#crm-Dashboard{
    .widget {

        &.widget5 {

            .gridline-path.gridline-path-horizontal {
                display: none !important;
            }
        }
    }
    .headerText{
        font-size: 20px;
        font-weight: 700;
    }

    .example-column2{
        width: 32%;
    }

    .products-table {
        width: 100%;
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
    .example-container {
        height: 210px;
        overflow: auto;
      }

    .icon-display {
        transform: scale(1.3);
     }
     .mat-select-trigger {
        height: 2.650em !important;
    }

    .mat-form-field-appearance-outline .mat-form-field-infix {
        padding: 0em 0 0em 0 !important;
        margin: 0em 0 !important;
    }

    fuse-widget .mat-form-field.mat-form-field-type-mat-select .mat-form-field-wrapper {
        padding-top: 0px !important;
    }
    .name:hover{
        color:#9b61c2;
        cursor: pointer;
    }

}

@media only screen and (max-width: 768px) {
  
    .example-column2{
        width: 100%;
        margin-left: 0px;
    }
   
}