<!-- <p> Dashboard</p> -->
<div id="crm-Dashboard" class="page-layout simple left-sidebar inner-sidebar ">


    <div class="widget-group pl-4 pr-4" fxLayout="row wrap" fxFlex="100" *fuseIfOnDom [@animateStagger]="{value:'50'}"
        fusePerfectScrollbar>
        <fuse-widget fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="20" class="pt-0">
            <div class="fuse-widget-front mat-elevation-z2" (click)="GetActiveInActiveClient(1)">
                <div class="pl-16 pr-8 pt-8 h-52 mat-title" fxLayout="row" fxLayoutAlign="center center">
                    <div>
                        ACTIVE CLIENTS
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-around">
                    <!-- <div>
                        <button mat-raised-button class="accent mat-elevation-z2 p-4 mat-button-wrapper">
                            <mat-icon class="icon-display" aria-hidden="true">account_circle</mat-icon>
                        </button>
                    </div> -->
                    <div class="light-blue-fg font-size-40 " style="cursor: pointer;">
                        {{getTotalActiveClients}}
                    </div>
                </div>
            </div>
        </fuse-widget>

        <fuse-widget fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="20" class="pt-0">
            <div class="fuse-widget-front mat-elevation-z2 " (click)="GetActiveInActiveClient(0)">
                <div class="pl-16 pr-8 pt-8 h-52 mat-title" fxLayout="row" fxLayoutAlign="center center">
                    <div>
                        INACTIVE CLIENTS
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-around">
      
                    <div class="light-blue-fg font-size-40 " style="cursor: pointer;">
                        {{getTotalInActiveClients}}
                    </div>
                </div>
            </div>
        </fuse-widget>

        <fuse-widget fxLayout="row" fxFlex="100">
            <div fxFlex="100">
                <div fxLayout="row" fxLayout.xs="column">
                    <div fxFlex="30" fxFlex.xs="100" class="teal p-12">
                        <!-- <div class="font-size-20 text-center"> CLIENT RELATIONSHIP MANAGMENT</div> -->
                        <div class="font-size-20 text-center"> Dashboard</div>
                    </div>
                    <div fxFlex="70" fxFlex.xs="100" class="blue-grey p-12">
                        <div class="font-size-20 text-center"> HCB Group </div>
                    </div>
                </div>
            </div>
        </fuse-widget>


        <fuse-widget class="widget" fxLayout="row" fxFlex="100" fxFlex.gt-sm="50">
            <div class="fuse-widget-front mat-elevation-z2" tex>
                <div class="px-16 py-8 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
                    <span class="headerText">Client Demographics</span>
                </div>
                <div fxLayout="column" fxLayout.lg="row" fxLayout.xs="column" style="margin-left:100px">
                    <div fxLayoutAlign="center center">
                        <google-chart [title]="title" [type]="type" [data]="data" [columnNames]="columnNames"
                            [options]="options" [width]="width" height="height">
                        </google-chart>
                    </div>
                </div>
                    <div fxLayout="column" fxLayout.lg="row" fxLayout.xs="column" style="margin-left:100px">
                    <div fxLayoutAlign=" center center">
                        <google-chart [title]="title1" [type]="type1" [data]="data1" [columnNames]="columnNames1"
                            [options]="options1" width="width" height="height">
                        </google-chart>
                    </div>
                </div>
            </div>
             
        </fuse-widget>

        <fuse-widget class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50">
            <div class="fuse-widget-front mat-elevation-z2">

                <div class="px-16 py-8 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
                    <div class="headerText">Cases Per Client</div>
                </div>

                <form class="p-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="ClientCases"
                    [formGroup]="ClientCases">
                    <div fxLayout="column" fxLayout.xs="column" fxLayout.md="column">
                        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutGap="20px" fxLayoutGap.sm="20px"
                            fxLayoutGap.xs="0px" fxLayoutAlign="start">
                            <div fxFlex="85">
                                <mat-form-field appearance="outline" fxFlex="100">
                                    <mat-label>Select Client</mat-label>
                                    <mat-select formControlName="Client">
                                        <mat-option [value]="0">--Select Client--</mat-option>
                                        <mat-option *ngFor="let client of getddlClient" [value]="client.clientID">
                                            {{client.companyName}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxFlex="18">
                                <div fxLayout="row" fxLayoutAlign="end start" fxLayoutAlign.md="center center"
                                    fxLayoutAlign.xs="center center" fxFlex="1 0 auto" fxLayoutGap="5px">

                                    <button mat-mini-fab class="accent" (click)="SearchCasesClient()">
                                        <mat-icon aria-hidden="true">check</mat-icon>
                                    </button>
                                    <button mat-mini-fab class="accent" (click)="ClearClientCases()">
                                        <mat-icon aria-hidden="true">close</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div fxLayout="row" fxLayout.lg="column" fxLayoutAlign="start" fxLayoutGap="20px"
                            fxLayoutGap.sm="20px" fxLayoutGap.xs="0px">

                            <mat-form-field appearance="outline" fxFlex="49" fxFlex.sm="49" fxFlex.xs="100">
                                <input matInput readonly [matDatepicker]="FromDatePicker" placeholder="From Date"
                                    aria-invalid="false" formControlName="StartDateClient">
                                <mat-datepicker-toggle matSuffix [for]="FromDatePicker">
                                </mat-datepicker-toggle>
                                <mat-datepicker #FromDatePicker></mat-datepicker>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="49" fxFlex.sm="49" fxFlex.xs="100">
                                <input matInput readonly [matDatepicker]="ToDatePicker" placeholder="To Date"
                                    aria-invalid="false" formControlName="EndDateClient">
                                <mat-datepicker-toggle matSuffix [for]="ToDatePicker">
                                </mat-datepicker-toggle>
                                <mat-datepicker #ToDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>

                    <div fxLayout="row" fxLayoutGap.sm=0px class="pt-24" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <div fxLayout="column" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <button mat-raised-button color="accent" (click)="OpenCloseCaseClient(1)"
                                style="font-size: 20px;padding-top: 5px;padding-bottom: 5px;">Open Cases
                                ({{OpenCaseClient}})</button>
                        </div>
                        <div fxLayout="column" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <button mat-raised-button color="accent" (click)="OpenCloseCaseClient(0)"
                                style="font-size: 20px;padding-top: 5px;padding-bottom: 5px;">Closed Cases
                                ({{ClosedCaseClient}})</button>
                        </div>
                    </div>
                </form>
            </div>
        </fuse-widget>

        <fuse-widget class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50">
            <div class="fuse-widget-front mat-elevation-z2">

                <div class="px-16 py-8 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
                    <div class="headerText">Clients Per Services</div>
                </div>

                <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">

                    <form class="p-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="ClientsServices"
                        [formGroup]="ClientsServices">

                        <div fxLayout="column" fxLayout.xs="column" fxLayout.md="column">
                            <div fxFlex="1 0 auto" fxLayout="row" fxLayoutGap="20px" fxLayoutGap.sm="20px"
                                fxLayoutGap.xs="0px" fxLayoutAlign="start">
                                <div fxFlex="85">
                                    <mat-form-field appearance="outline" fxFlex="100">
                                        <mat-label>Select Service</mat-label>
                                        <mat-select formControlName="ServiceName">
                                            <mat-option [value]="0">--Select Service--</mat-option>
                                            <mat-option *ngFor="let service of getddlServices"
                                                [value]="service.serviceTypeId">
                                                {{service.serviceType}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div fxFlex="18">
                                    <div fxLayout="row" fxLayoutAlign="end start" fxLayoutAlign.md="center center"
                                        fxLayoutAlign.xs="center center" fxFlex="1 0 auto" fxLayoutGap="5px">

                                        <button mat-mini-fab class="accent" (click)="SearchClientsPerService()">
                                            <mat-icon aria-hidden="true">check</mat-icon>
                                        </button>
                                        <button mat-mini-fab class="accent" (click)="ClearClientsPerService()">
                                            <mat-icon aria-hidden="true">close</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="fuse-widget-front mat-elevation-z2">
                            <div class="content-card example-container p-0 mat-white-bg">
                                <table mat-table [dataSource]="getClientService" class="products-table">

                                    <ng-container matColumnDef="ServiceName">
                                        <th mat-header-cell *matHeaderCellDef><b>Service Name</b>
                                        </th>
                                        <td mat-cell *matCellDef="let element"
                                            (click)="OpenClientListForService1(element.serviceTypeId)" class="name">
                                            {{element.servicename}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="ClientCount">
                                        <th mat-header-cell *matHeaderCellDef><b>Client Count</b> </th>
                                        <td mat-cell *matCellDef="let element"> {{element.clientCount}}
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </fuse-widget>
    </div>

    <div class="contentCenter p-24" *ngIf="(working || errorText)">
        <div *ngIf="working">
            <mat-spinner [diameter]="40"></mat-spinner>
        </div>
        <div *ngIf="errorText">
            <p style="color: red;">{{ errorText }}</p>
        </div>
    </div>
</div>