<div id="ClientRecordDetails" class="page-layout simple inner-scroll">
    <mat-toolbar class="accent m-0  mb-md-0">
        <mat-toolbar-row fxLayout="column" fxLayoutAlign="center center" fxFlex fxLayout.gt-md="row"
            fxLayoutAlign.gt-md="space-between center">
            <div class="logo mb-24 mb-md-0" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    list
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Client Records
                </span>
            </div>

            <div fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">
                <span class="mr-8">
                    Total Client(s) = {{TotalRecords}}
                </span>

                <button mat-raised-button (click)="AddClientRecord()" matTooltip="Add Client Record">
                    <mat-icon>add</mat-icon>Client Record
                </button>
                <button mat-raised-button matTooltip="Filter Data" (click)="sidenav.toggle()" style="margin-left: 10px;"
                   >
                    <mat-icon>search</mat-icon>
                    Filters
                </button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container style="height: 100%; padding: 16px;">
        <mat-sidenav #sidenav mode="over" position="end" style="width: 350px;" fusePerfectScrollbar>
            <div class="content p-24 mat-white-bg">
                <form name="FilterClientRecord" [formGroup]="FilterClientRecord" (ngSubmit)="Filter()" novalidate
                    autocomplete="off">
                    <mat-form-field style=" width: 100%;">
                        <input matInput placeholder="Company Name" formControlName="CompanyName">
                    </mat-form-field>

                    <mat-form-field style=" width: 100%;">
                        <mat-select placeholder="Client Type" formControlName="ClientTypeId">
                            <mat-option [value]="1">Insurance</mat-option>
                            <mat-option [value]="2">Retail</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field style="width: 100%;">
                        <input matInput readonly [matDatepicker]="clientAddedDatePickerfilter"
                            placeholder="Date New client Added" aria-invalid="false" formControlName="ClientAddedDate">
                        <mat-datepicker-toggle matSuffix [for]="clientAddedDatePickerfilter">
                        </mat-datepicker-toggle>
                        <mat-datepicker #clientAddedDatePickerfilter></mat-datepicker>
                    </mat-form-field>

                    <div class="contentCenter">
                        <div>
                            <button mat-raised-button color="accent" type="submit">Search</button>
                            <button mat-raised-button color="accent" type="button" (click)="Clear()"
                                style="margin-left: 5px">Clear</button>
                        </div>
                    </div>
                </form>
            </div>
        </mat-sidenav>

        <mat-sidenav-content class="mat-white-bg mat-elevation-z4" fusePerfectScrollbar>
            <div class="content-card p-0 mat-white-bg">
                <table mat-table [dataSource]="crmClientRecord" class="products-table" multiTemplateDataRows matSort
                    (matSortChange)="sortChange($event)" [matSortActive]="sortColumn" [matSortDirection]="sortDirection"
                    matSortDisableClear>

                    <ng-container matColumnDef="CompanyName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header><b> Company Name</b> </th>
                        <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="ClientType">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header><b>Client Type</b> </th>
                        <td mat-cell *matCellDef="let element"> {{element.ClientType}} </td>
                    </ng-container>

                    <ng-container matColumnDef="ClientAddedDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Client Added Date</b> </th>
                        <td mat-cell *matCellDef="let element"> {{element.createdOn |date: "dd/MM/yyyy"}} </td>
                    </ng-container>

                    <ng-container matColumnDef="PrincipalContactName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> <b>Principal Contact Name</b> </th>
                        <td mat-cell *matCellDef="let element"> {{element.principalContactName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="PrincipalContactNumber">
                        <th mat-header-cell *matHeaderCellDef> <b>Principal Contact Number</b> </th>
                        <td mat-cell *matCellDef="let element"> {{element.principalContactNo}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Id">
                        <th mat-header-cell *matHeaderCellDef> </th>
                        <td mat-cell *matCellDef="let element">
                            <button  mat-icon-button matTooltip="Edit" (click)="EditClientRecord(element.clientID)">
                                <mat-icon [color]="'accent'">edit</mat-icon>
                            </button>
                            <button mat-icon-button matTooltip="delete" (click)="DeleteClientRecord(element.clientID)">
                                <mat-icon [color]="'accent'">delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[15, 25, 50, 100, 500]" [length]="TotalRecords"
                    [pageIndex]="pageIndex" [pageSize]="pageSize" (page)="pageChanged($event)" showFirstLastButtons>
                </mat-paginator>
            </div>
            <div class="contentCenter p-24" *ngIf="(working || errorText)">
                <div *ngIf="working">
                    <mat-spinner [diameter]="40"></mat-spinner>
                </div>
                <div *ngIf="errorText">
                    <p style="color: red;">{{ errorText }}</p>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>