#referral-authority-contact{
    .example-column{
        width: 49%;
    }
    .example-column1{
        width: 32%;
    }
    .example-margin{
        margin-left: 2%;
    }

    @media only screen and (max-width: 768px) {
        .example-column{
            width: 100%;
            margin-left: 0px;
        }
        .example-column1{
            width: 100%;
            margin-left: 0px;
        }
    }
}