
<div id="referral-authority-contact" class="dialog-content-wrapper">

    <mat-toolbar class="mat-accent m-0">
      <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
            note
          </mat-icon>
          <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
            Referral Authority Contact
          </span>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  
    <div mat-dialog-content class="m-0" fusePerfectScrollbar>
      <form name="ReferralAuthorityContact" [formGroup]="ReferralAuthorityContact" class="pt-12 pb-12" (ngSubmit)="Save()" novalidate autocomplete="off">
    
        <mat-form-field class="example-column">
          <mat-label>Name</mat-label>
          <input matInput formControlName="contactName" required>
          <mat-error *ngIf="ReferralAuthorityContact.get('contactName').hasError('required')"
          class="alert alert-danger">Required</mat-error>
        </mat-form-field>
  
        <mat-form-field class="example-column example-margin">
          <mat-label>Job Title</mat-label>
          <input matInput formControlName="jobTitle">
          <mat-error>
            Last name is required.
          </mat-error>
        </mat-form-field>
  
        <mat-form-field class="example-column">
          <mat-label>Telephone No</mat-label>
          <input matInput formControlName="phoneNo"  maxLength="20">
          <mat-error *ngIf="ReferralAuthorityContact.get('phoneNo').errors && ReferralAuthorityContact.get('phoneNo').errors.maxLength">
              Invalid</mat-error> 
        </mat-form-field>
  
        <mat-form-field class="example-column example-margin">
          <mat-label>Where based if not HO</mat-label>
          <!-- <textarea matInput placeholder="Where based if not HO" formControlName="NonHOLocation"></textarea> -->
          <input matInput formControlName="nonHOLocation">
        </mat-form-field>
  
        <mat-form-field class="example-column">
          <mat-label>Email Address</mat-label>
          <input matInput formControlName="contactEmail" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z_\-\.]+)\.([a-zA-Z]{2,5})$">
          <mat-error
          *ngIf="ReferralAuthorityContact.get('contactEmail').errors && ReferralAuthorityContact.get('contactEmail').errors.pattern">
          Invalid email address.
      </mat-error>
        </mat-form-field>
       
        <div class="contentCenter p-12">
          <div>
            <button mat-raised-button color="accent" type="submit" [disabled]="ReferralAuthorityContact.invalid">
              Save
            </button>
            <button mat-raised-button color="accent" type="button" (click)="dialogRef.close()" style="margin-left: 10px;">
              Cancel
            </button>
          </div>
          <div *ngIf="errorText" class="mt-16">
            <p style="color: red;">{{ errorText }}</p>
          </div>
          <div *ngIf="working" class="mt-16">
            <mat-spinner [diameter]="25"></mat-spinner>
          </div>
        </div>
      </form>
    </div>
  </div>