<!-- <div id="addEditClaimClosedReason" class="dialog-content-wrapper">

    <mat-toolbar class="mat-accent m-0">
      <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
            person_outline
          </mat-icon>
          <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          Case Cancel Reason
          </span>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  
    <div mat-dialog-content class="m-0">
      <form name="ClaimClosedReason" [formGroup]="CaseCancelReason" class="pt-8 pb-8" (ngSubmit)="SaveCancelReason()" novalidate autocomplete="off">
    
        <mat-form-field appearance="outline" style="width: 100%; height: 40%">
            <textarea matInput formControlName="Reason"></textarea>
            <mat-error *ngIf="ClaimClosedReason.controls['Reason'].hasError('required')" class="alert alert-danger">Required</mat-error>
          </mat-form-field>
  
        <div class="contentCenter p-8">
          <div>
            <button mat-raised-button color="accent" type="submit" [disabled]="ClaimClosedReason.invalid">
              Save
            </button>
            <button mat-raised-button color="accent" type="button" (click)="dialogRef.close()" style="margin-left: 10px;">
              Cancel
            </button>
          </div>
          <div *ngIf="errorText" class="mt-16">
            <p style="color: red;">{{ errorText }}</p>
          </div>
          <div *ngIf="working" class="mt-16">
            <mat-spinner [diameter]="25"></mat-spinner>
          </div>
        </div>
      </form>
    </div>
  </div>
 -->

 <div id="addEditClaimClosedReason" class="dialog-content-wrapper">

  <mat-toolbar class="mat-accent m-0">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
          person_outline
        </mat-icon>
        <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
        Case Cancel Reason
        </span>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="m-0" fusePerfectScrollbar>
    <form name="CaseCancelReason" [formGroup]="CaseCancelReason" class="pt-12 pb-12" (ngSubmit)="SaveCancelReason()" novalidate autocomplete="off">
  
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Case Cancel Reason</mat-label>
        <div style="padding-top:10px;"></div>
        <textarea matInput formControlName="Reason" ></textarea>
        <mat-error *ngIf="CaseCancelReason.controls['Reason'].hasError('required')" class="alert alert-danger">Required</mat-error>
        <!-- <mat-error *ngIf="ClaimClosedReason.controls['Name'].hasError('NameTaken') && ClaimClosedReason.controls['Name'].touched">Reason already exist</mat-error>            -->
      </mat-form-field>

      <div class="contentCenter p-12">
        <div>
          <button mat-raised-button color="accent" type="submit" [disabled]="CaseCancelReason.invalid">
            Save
          </button>
          <button mat-raised-button color="accent" type="button" (click)="dialogRef.close()" style="margin-left: 10px;">
            Cancel
          </button>
        </div>
        <div *ngIf="errorText" class="mt-16">
          <p style="color: red;">{{ errorText }}</p>
        </div>
        <!-- <div *ngIf="working" class="mt-16">
          <mat-spinner [diameter]="25"></mat-spinner>
        </div> -->
      </div>
    </form>
  </div>
</div>

