<div fxLayout="column" fxFlex="100">
    <mat-toolbar class="p-0 mat-elevation-z1">

        <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">

            <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="navbar-toggle-button" *ngIf="!hiddenNavbar && !rightNavbar"
                    (click)="toggleSidebarOpen('navbar')" fxHide.gt-md>
                    <mat-icon class="secondary-text">menu</mat-icon>
                </button>

                <div class="toolbar-separator" *ngIf="!hiddenNavbar && !rightNavbar" fxHide.gt-md></div>

                <!-- <div fxLayout="row" fxLayoutAlign="start center" *ngIf="horizontalNavbar">
                <div class="logo ml-16">
                    <img class="logo-icon" src="assets/images/logos/HCBLogo.jpg">
                </div>
            </div> -->

                <!-- <div class="px-8 px-md-16">
                <fuse-shortcuts [navigation]="navigation"></fuse-shortcuts>
            </div> -->
                <div class="logo ml-20">
                    <!-- <img src="assets/images/logos/MetLifeLogo.jpg"> -->
                    <!-- <img class="logo-icon" src="assets/images/logos/HCBLogo.jpg"> -->
                    <!-- <img class="logo-icon" src="assets/images/logos/Logo.png"> -->
                    <img class="logo-icon" src="assets/images/logos/ORCA.png">
                </div>
                <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="center center">

                    <!-- <div class="toolbar-separator" *ngIf="!hiddenNavbar && !rightNavbar" fxHide.gt-md></div> -->
    
                        <!-- <span class="headerText"> Early Intervention & Funded Treatment Management</span> -->
                        <span class="headerText" style="font-size: 25px;"
                    > {{Title}}</span>
                  
    
                </div>
        

     

            <div class="" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">
                <!-- <div class="logo ml-20">
                <img class="logo-icon" src="assets/images/logos/HCBLogo.jpg">
            </div> -->
                <button mat-button [matMenuTriggerFor]="userMenu" class="user-button">
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <!-- <img class="avatar mr-0 mr-sm-16" src="assets/images/avatars/Velazquez.jpg"> -->
                        <span class="username mr-12" fxHide fxShow.gt-sm>{{userName}}</span>
                        <mat-icon class="s-16" fxHide.xs>keyboard_arrow_down</mat-icon>
                    </div>
                </button>

                <mat-menu #userMenu="matMenu" [overlapTrigger]="false">

                    <!-- <button mat-menu-item>
                        <mat-icon>account_circle</mat-icon>
                        <span>My Profile</span>
                    </button> -->

                    <!-- <button mat-menu-item class="">
                        <mat-icon>mail</mat-icon>
                        <span>Inbox</span>
                    </button> -->

                    <button mat-menu-item class="" (click)="Logout()">
                        <mat-icon>exit_to_app</mat-icon>
                        <span>Logout</span>
                    </button>
                    <button mat-menu-item class="" (click)="switchPage()" *ngIf="displayOrNot">
                        <mat-icon>exit_to_app</mat-icon>
                        <span>{{MenuName}}</span>
                    </button>

                </mat-menu>

                <!--        <div class="toolbar-separator"></div>

            <fuse-search-bar (input)="search($event)"></fuse-search-bar>
 
            <div class="toolbar-separator"></div>

            <button mat-button fxHide fxShow.gt-xs
                    class="language-button"
                    [matMenuTriggerFor]="languageMenu">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <img class="flag mr-8" [src]="'assets/icons/flags/'+selectedLanguage.flag+'.png'">
                    <span class="iso text-uppercase">{{selectedLanguage.id}}</span>
                </div>
            </button>

            <mat-menu #languageMenu="matMenu" [overlapTrigger]="false">

                <button mat-menu-item *ngFor="let lang of languages" (click)="setLanguage(lang)">
                    <span fxLayout="row" fxLayoutAlign="start center">
                        <img class="flag mr-16" [src]="'assets/icons/flags/'+lang.flag+'.png'">
                        <span class="iso">{{lang.title}}</span>
                    </span>
                </button>

            </mat-menu>

            <div class="toolbar-separator" fxHide fxShow.gt-xs></div>

            <button mat-icon-button
                    class="quick-panel-toggle-button"
                    (click)="toggleSidebarOpen('quickPanel')"
                    aria-label="Toggle quick panel">
                <mat-icon class="secondary-text">format_list_bulleted</mat-icon>
            </button> -->

                <!-- <div class="toolbar-separator" *ngIf="!hiddenNavbar && rightNavbar" fxHide fxShow.gt-xs></div>

                <button mat-icon-button class="navbar-toggle-button" *ngIf="!hiddenNavbar && rightNavbar"
                    (click)="toggleSidebarOpen('navbar')" fxHide.gt-md>
                    <mat-icon class="secondary-text">menu</mat-icon>
                </button> -->
            </div>
        </div>
        </div>
    </mat-toolbar>

    <!-- <mat-toolbar fxShow.lt-lg fxHide.lg fxHide.xs class="m-0  mb-md-0 mat-elevation-z2">
        <mat-toolbar-row fxLayout="column" fxLayoutAlign="center center" fxFlex fxLayout.gt-md="row"
            fxLayoutAlign.gt-md="space-between center"> -->
            <!-- <span style="font-weight: 700;"> Early Intervention & FundedTreatment Management</span> -->
            <!-- <span style="font-weight: 700;">{{Title}}</span>
        </mat-toolbar-row>
    </mat-toolbar> -->
    <div *ngIf="ShowToolbar">
<mat-toolbar class="m-0  mb-md-0" style="height:40px">
        <mat-toolbar-row fxLayout="column" fxLayoutAlign="center center" fxFlex fxLayout.gt-md="row"
            fxLayoutAlign.gt-md="space-between center" style="height: 40px;"> 
        
           {{SubTitle}}
        </mat-toolbar-row>
    </mat-toolbar> 
    </div>
<!--     
    <div fxLayout="row" fxFlex="100" *ngIf="ShowOPSToolbar">

        <div fxFlex="100" style="height: 50px;">
            <div fxLayout="row" fxLayout.xs="column" style="height: 50px;">
                <div fxFlex="30" fxFlex.xs="100" class="teal p-9"
                    style="padding-bottom: 4px;padding-top: 4px;height: 50px;">
                    <div class="font-size-18 text-center"> CASE MANAGEMENT SYSTEM</div>

                </div>

                <button mat-icon-button fuseWidgetToggle aria-label="more">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </div>
        </div>
    </div> -->
    <div fxLayout="column" fxFlex="100" *ngIf="ShowOPSToolbar" fxlayoutalign="space-between" class="header accent">
        <div  fxLayout="row" fxlayoutalign="space-between start" style="padding-left: 8px;">
            <span class="mat-display1 my-0 my-sm-20 welcome-message ">Hello {{UserFirstName}} Welcome to ORCA !</span>
        </div>
            <div fxLayout="row"
                style="padding-bottom: 4px;padding-top: 4px;height: 10px;padding-left: 8px;">
                <div class="select-Project font-size-10 text-center"> CASE MANAGEMENT SYSTEM</div>


    <div class="project-selector font-size-10 text-center"  *ngIf="displayOrNot">
        <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>more_horiz</mat-icon>
        </button>
     </div>
     <mat-menu  #userMenu="matMenu">
        <button mat-menu-item (click)="switchPage()">
            <mat-icon>exit_to_app</mat-icon>
            <span>{{MenuName}}</span>
            </button>
    </mat-menu>
</div>  



        

    </div>
</div>