<div id="Owner" class="dialog-content-wrapper">

    <mat-toolbar class="mat-accent m-0">
      <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
        <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
            person_outline
          </mat-icon>
          <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
            Broker(s)
          </span>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  
    <div mat-dialog-content class="m-0" fusePerfectScrollbar>
      <form name="BrokerDetails" [formGroup]="BrokerDetails" class="pt-12 pb-12" (ngSubmit)="SaveOwner()"
        novalidate autocomplete="off">
  
        <mat-form-field style="width: 100%;">
          <mat-label>Broker Name</mat-label>
          <input matInput formControlName="BrokerName" required>
          <mat-error
            *ngIf="BrokerDetails.get('BrokerName').errors && BrokerDetails.get('BrokerName').errors.required">
            Required.
          </mat-error>
        </mat-form-field>
  
        <mat-form-field style="width: 100%;">
          <mat-label>Email Address</mat-label>
          <input matInput formControlName="EmailAddress" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z_\-\.]+)\.([a-zA-Z]{2,5})$">
          <!-- <mat-error
            *ngIf="BrokerDetails.get('EmailAddress').errors && BrokerDetails.get('EmailAddress').errors.required">
            Required.
          </mat-error> -->
          <mat-error
            *ngIf="BrokerDetails.get('EmailAddress').errors && BrokerDetails.get('EmailAddress').errors.pattern">
            Invalid email address.
          </mat-error>
        </mat-form-field>
  
        <div class="contentCenter p-12">
          <div>
            <button mat-raised-button color="accent" type="submit" [disabled]="BrokerDetails.invalid">
              Save
            </button>
            <button mat-raised-button color="accent" type="button" (click)="dialogRef.close()" style="margin-left: 10px;">
              Cancel
            </button>
          </div>
          <div *ngIf="errorText" class="mt-16">
            <p style="color: red;">{{ errorText }}</p>
          </div>
          <div *ngIf="working" class="mt-16">
            <mat-spinner [diameter]="25"></mat-spinner>
          </div>
        </div>
      </form>
    </div>
  </div>
