<div id="TelephoneActivity" class="dialog-content-wrapper">

  <mat-toolbar class="mat-accent m-0">
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
          phone
        </mat-icon>
        <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          Telephone Intervention
        </span>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="m-0">
    <form name="TelephoneActivity" [formGroup]="TelephoneActivity" class="pt-12 pb-12" novalidate autocomplete="off">

      <mat-form-field class="example-column">
        <input matInput readonly [matDatepicker]="TelephoneDatepicker" placeholder="Date" aria-invalid="false"
          formControlName="CallDate">
        <mat-datepicker-toggle matSuffix [for]="TelephoneDatepicker"> </mat-datepicker-toggle>
        <mat-datepicker #TelephoneDatepicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="example-column example-margin">
        <mat-label>Time</mat-label>
        <input matInput type="time" formControlName="CallTime">
      </mat-form-field>

      <mat-form-field class="example-column">
        <mat-label>Type Of Call</mat-label>
        <mat-select formControlName="TypeofCall">
          <mat-option *ngFor="let TypeOfCall of getddlTypeOfCall" [value]="TypeOfCall.id">
            {{TypeOfCall.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-column example-margin">
        <mat-label>Fee Charged</mat-label>
        <input matInput formControlName="FeeCharged">
      </mat-form-field>

      <mat-form-field class="example-column">
        <input matInput readonly [matDatepicker]="ExpectedOptimumRTWpicker" placeholder="Expected RTW Date(Optimum)"
          aria-invalid="false" formControlName="CallExpectRTWDateOptimum">
        <mat-datepicker-toggle matSuffix [for]="ExpectedOptimumRTWpicker"> </mat-datepicker-toggle>
        <mat-datepicker #ExpectedOptimumRTWpicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="example-column example-margin">
        <input matInput readonly [matDatepicker]="ExpectedMaximumRTWpicker" placeholder="Expected RTW Date (Maximum)"
          aria-invalid="false" formControlName="CallExpectRTWDateMaximum">
        <mat-datepicker-toggle matSuffix [for]="ExpectedMaximumRTWpicker"> </mat-datepicker-toggle>
        <mat-datepicker #ExpectedMaximumRTWpicker></mat-datepicker>
      </mat-form-field>

      <!-- <mat-form-field class="example-column2">
              <mat-label>Expected RTW Date (Maximum)</mat-label>
              <input matInput formControlName="ExpectedMaximumRTWDate">
            </mat-form-field> -->

      <mat-form-field class="example-column">
        <mat-label>Case Management Recommended?</mat-label>
        <input matInput formControlName="CallCaseMngtRecom">
      </mat-form-field>


      <p class="titletext">
        <span style="display: flex;">
          <span style="line-height: 2.2"> Failed Call(s)</span>
          <span style="flex: 1 auto;"></span>
          <span>
            <button mat-mini-fab color="accent" class="submit-button" matTooltip="Add Failed call" type="button"
              (click)="AddFailedCall()"> <!--[disabled]="DisAddFailedCall">-->
              <mat-icon>add</mat-icon>
            </button>
          </span>
        </span>
        <mat-divider class="mb-16"></mat-divider>
      </p>

      <div class="content-card example-container">
        <table mat-table [dataSource]="FailedCallList" class="products-table">
          <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef></th>
            <td  mat-cell *matCellDef="let element">
              {{element.id}} 
            </td>
          </ng-container>

          <ng-container matColumnDef="failedCallDateTime">
            <th mat-header-cell *matHeaderCellDef><b>Failed Call Date & Time</b> </th>
            <td  mat-cell *matCellDef="let element">
              {{element.failCallDate|date:"dd/MM/yyyy"}}&nbsp;&nbsp;{{element.failCallTime |date:" h:mm a"}}
            </td> 
          </ng-container>

          <!-- <ng-container matColumnDef="Failed">
            <th mat-header-cell *matHeaderCellDef> <b>Case Management Recommended</b> </th>
            <td mat-cell *matCellDef="let element">
              <p class="text-truncate">{{element.callCaseMngtRecom}}</p>
            </td>
          </ng-container> -->

          <!-- <ng-container matColumnDef="call">
            <th mat-header-cell *matHeaderCellDef> <b>Call </b></th>
            <td mat-cell *matCellDef="let element">
              <p class="text-truncate">
              </p>
            </td>
          </ng-container>

          <ng-container matColumnDef="failedCallDuration">
            <th mat-header-cell *matHeaderCellDef> <b>FailedCallDuration</b></th>
            <td mat-cell *matCellDef="let element">
              <p class="text-truncate">
              </p>
            </td>
          </ng-container> -->

          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element">
              <!-- <button mat-icon-button matTooltip="Edit" type="button"
                (click)="EditTelephoneActivity(element.hcbVisitId)">
                <mat-icon [color]="'accent'">edit</mat-icon>
              </button> -->
              <button mat-icon-button matTooltip="Delete" type="button"
                (click)="DeleteFailedCall(element.failedCallID,(element.Id))">
                <mat-icon [color]="'accent'">delete</mat-icon>
              </button> </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedFailedCallColumns;sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedFailedCallColumns;"></tr>

        </table>
      </div>



      <div class="contentCenter p-12">
        <div>
          <button mat-raised-button color="accent" type="submit" (click)=" SaveTelephoneActivity()">
            Save
          </button>
          <button mat-raised-button color="accent" type="button" (click)="dialogRef.close()" style="margin-left: 10px;">
            Cancel
          </button>
        </div>
        <div *ngIf="errorText" class="mt-16">
          <p style="color: red;">{{ errorText }}</p>
        </div>
        <div *ngIf="working" class="mt-16">
          <mat-spinner [diameter]="25"></mat-spinner>
        </div>
      </div>
    </form>
  </div>
</div>