#TelephoneActivity{
    .example-column{
        width: 49%;
    }
    .example-column1{
        width: 32%;
    }
    .example-margin{
        margin-left: 2%;
    }
    .failedcall:hover{
        color:#e50b03;
        cursor: pointer;
    }
    .titletext{
        font-size: 22px;
        color: #3598dc;
        font-weight: 600;
    }
    .products-table {
        width: 100%;
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
    @media only screen and (max-width: 768px) {
        .example-column{
            width: 100%;
            margin-left: 0px;
        }
        .example-column1{
            width: 100%;
            margin-left: 0px;
        }
    }
}