<div id="Delete" class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                     Alert Message
                </span>
            </div>
            <!-- <div fxLayoutAlign="start center">
                <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
                    <mat-icon>close</mat-icon>
                </button>
            </div> -->
        </mat-toolbar-row>
    </mat-toolbar>

    <div class="p-12">
        <div>
            
            <h3><mat-icon style="color:red">report_problem</mat-icon>{{messagedisplay}}</h3>
            
            <!-- <h6>{{data}}</h6> -->
        </div>
        <!-- <div style="display: flex;">
            <div style="flex: 1 auto;"> </div>
            <div>
                 <button mat-raised-button class="accent" aria-label="Close"
                    (click)="dialogRef.close()">
                    No
                </button> 
                <button mat-raised-button style="margin-left: 10px;" class="accent" (click)="onCloseConfirm()" aria-label="Confirm" fxLayoutAlign="center center">
                    OK
                </button>

            </div>
        </div> -->
        <div class="contentCenter p-8">
            <div class="pb-12">
                <button mat-raised-button style="margin-left: 10px;" class="accent" (click)="onCloseConfirm()" aria-label="Confirm" fxLayoutAlign="center center">
                    OK
                </button>
             </div>
        </div>
    </div>
</div>