<div id="addEditIllnessInjury" class="dialog-content-wrapper">

    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    person_outline
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    type of Call
                </span>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="m-0" fusePerfectScrollbar>
        <form name="IllnessInjury" [formGroup]="SchemeDetail" class="pt-12 pb-12" (ngSubmit)="SaveScheme()" novalidate autocomplete="off">

            <mat-form-field style="width: 100%;">
                <mat-label>Scheme Name</mat-label>
                <input matInput formControlName="Name">
                <mat-error *ngIf="SchemeDetail.controls['Name'].hasError('required')" class="alert alert-danger">Required</mat-error>
                <mat-error *ngIf="SchemeDetail.controls['Name'].hasError('NameTaken') && SchemeDetail.controls['Name'].touched"> already exist</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field style="width: 100%;">
                <mat-label>Scheme Number</mat-label>
                <input matInput formControlName="RelatedValue">
                <!-- <mat-error *ngIf="SchemeDetail.controls['RelatedValue'].hasError('required')" class="alert alert-danger">Required</mat-error> -->
                <!-- <mat-error *ngIf="SchemeDetail.controls['RelatedValue'].hasError('NameTaken') && ShemeDetail.controls['RelatedValue'].touched"> already exist</mat-error> -->
            </mat-form-field>
            <div class="contentCenter p-12">
                <div>
                    <button mat-raised-button color="accent" type="submit" [disabled]="SchemeDetail.invalid">
                        Save
                    </button>
                    <button mat-raised-button color="accent" type="button" (click)="dialogRef.close()" style="margin-left: 10px;">
                        Cancel
                    </button>
                </div>
                <div *ngIf="errorText" class="mt-16">
                    <p style="color: red;">{{ errorText }}</p>
                </div>
                <div *ngIf="working" class="mt-16">
                    <mat-spinner [diameter]="25"></mat-spinner>
                </div>
            </div>
        </form>
    </div>
</div>