<div id="Delete" class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                     Alert Message
                </span>
            </div>
            <!-- <div fxLayoutAlign="start center">
                <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
                    <mat-icon>close</mat-icon>
                </button>
            </div> -->
        </mat-toolbar-row>
    </mat-toolbar>


    <div mat-dialog-content class="m-0" fusePerfectScrollbar>

        <!-- <h1>Record Saved Successfully</h1> -->
        <div style="text-align: center;">
            <div>
                <mat-icon style="font-size: 40px;padding-top: 18px;margin-right: 50px;color: #e93508;">
                    report_problem
                </mat-icon>
            </div>
            <div style="font-size: 18px;padding: 10px;">
              <!-- A Record of {{FistName}} {{LastName}} already exist.Plsease see case Reference
             <span><span target="_blank" type="button"
          class="name" [routerLink]="['/case-managment/addedit-case-managment/edit/', ReferenceNo]"
          >{{ReferenceNo}}</span></span>   correct link [routerLink]="['/case-managment/addedit-case-managment/edit/', ReferenceNo]" -->
          <span class="font-size-18"> A Record of
              <span> <b>{{FistName}}&nbsp;{{LastName}}</b></span> already exist.
          <div>Please see case Reference&nbsp;#
              <a target="_blank" type="button"
            class="name" 
          >
          {{ReferenceNo}}</a></div> </span>
              
            </div>
        </div>
        <div class="contentCenter p-12">
            <div class="pb-12">
                <button mat-raised-button color="accent" type="submit" (click)="dialogRef.close()">
                    OK
                </button>
            </div>
        </div>
    </div>





</div>
