#ListTotalValues{
    .products-table {
        width: 100%;
        flex: 1 1 auto;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
    // .name:hover{
    //     color:#9b61c2;
    //     cursor: pointer;
    // }
}