<div id="FailedCall" class="dialog-content-wrapper">

    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    phone
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Failed Call
                </span>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="m-0" fusePerfectScrollbar>
        <form name="FailedCall" [formGroup]="FailedCall" class="pt-12 pb-12" (ngSubmit)="Save()" novalidate
            autocomplete="off">


            <mat-form-field class="example-column">
                <input matInput readonly [matDatepicker]="FailedCallDatepicker" placeholder="Failed Call Date"
                    aria-invalid="false" formControlName="failCallDate">
                <mat-datepicker-toggle matSuffix [for]="FailedCallDatepicker"> </mat-datepicker-toggle>
                <mat-datepicker #FailedCallDatepicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="example-column example-margin">
                <mat-label>Failed Call Time</mat-label>
                <input matInput type="time" formControlName="failCallTime">
            </mat-form-field>

            <!-- <mat-form-field class="example-column">
                <mat-label>Call</mat-label>
                <input matInput formControlName="Call" required>
                <mat-error *ngIf="ReferralAuthorityContact.get('contactName').hasError('required')"
          class="alert alert-danger">Required</mat-error>
            </mat-form-field>

            <mat-form-field class="example-column example-margin">
                <mat-label>Failed Call Duration</mat-label>
                <input matInput formControlName="failedCallDuration">
                <mat-error>
            Last name is required.
          </mat-error>
            </mat-form-field> -->

            <div class="contentCenter p-12">
                <div>
                    <button mat-raised-button color="accent" type="submit">
                        Save
                    </button>
                    <button mat-raised-button color="accent" type="button" (click)="dialogRef.close()"
                        style="margin-left: 10px;">
                        Cancel
                    </button>
                </div>
                <div *ngIf="errorText" class="mt-16">
                    <p style="color: red;">{{ errorText }}</p>
                </div>
                <div *ngIf="working" class="mt-16">
                    <mat-spinner [diameter]="25"></mat-spinner>
                </div>
            </div>
        </form>
    </div>
</div>