// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";


.contentCenter {
    align-items: center;
    width: 100%;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    place-content: center;
}

mat-form-field.mat-form-field-should-float label {
    font-size: 20px !important;
  }

  .mat-header-cell {
    font-size: 16px !important;
    color: rgba(0, 0, 0, 0.70) !important ;
}

.mat-tooltip {
  font-size: 13px !important;
}
.mat-dialog-container {
 
   padding: 0px !important;
}

.content {
  display: block !important;
}
.mat-checkbox-layout {
  white-space: normal !important;
}

.mat-snack-bar-container {
  color: #fff;
}

.mat-simple-snackbar {
  // font-size: 24px !important;
  color: #fff !important;
  font-weight: 600 !important;
}
.mat-simple-snackbar-action {
  color: #fff !important;
  border:none  !important;
}
.mat-simple-snackbar-action button{
  font-size: 22px !important;
}
// .snackbarSuccess{
//   background-color:#4caf50 !important;
// }
// .snackbarError{
//   background-color:#bd362f !important;
// }