<div id="AnnualReportSummary" class="dialog-content-wrapper">

    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    note
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Annual Report Summary
                </span>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="m-0" fusePerfectScrollbar>
        <form name="AnnualReportSummary" [formGroup]="AnnualReportSummary" class="pt-12 pb-12" (ngSubmit)="SaveAnnualReportSummary()"
            novalidate autocomplete="off">

              <mat-form-field style=" width: 100%">
                <input matInput [matDatepicker]="AnnualReportDatepicker" placeholder="Annual Report Summary" aria-invalid="false"
                  formControlName="AnnualReportDate">
                <mat-datepicker-toggle matSuffix [for]="AnnualReportDatepicker"> </mat-datepicker-toggle>
                <mat-datepicker #AnnualReportDatepicker></mat-datepicker>
                <mat-error *ngIf="!AnnualReportSummary.get('AnnualReportDate').hasError('dateVaidator')">Date Required
                </mat-error>
                <mat-error *ngIf="AnnualReportSummary.get('AnnualReportDate').hasError('dateVaidator')">Please Provide a
                  Valid Date format dd/mm/yyyy</mat-error>
              </mat-form-field>

            <mat-form-field style=" width: 100%">
                <mat-label>Result</mat-label>
                <mat-select formControlName="AnnualReportOutcome" (selectionChange)="onAnnualReportOutComeChange()">
                  <mat-option [value]="'Surplus'">Surplus</mat-option>
                  <mat-option [value]="'Deficit'">Deficit</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field [color]="ChangeColor" style=" width: 100%">
                <mat-label>Value</mat-label>
                <input matInput formControlName="AnnualReportValue">
              </mat-form-field>

            <div class="contentCenter p-12">
                <div>
                    <button mat-raised-button color="accent" type="submit">
                        Save
                    </button>
                    <button mat-raised-button color="accent" type="button" (click)="dialogRef.close()"
                        style="margin-left: 10px;">
                        Cancel
                    </button>
                </div>
                <div *ngIf="errorText" class="mt-16">
                    <p style="color: red;">{{ errorText }}</p>
                </div>
                <div *ngIf="working" class="mt-16">
                    <mat-spinner [diameter]="25"></mat-spinner>
                </div>
            </div>
        </form>
    </div>
</div>
