<div id="AddEditClientRecord" class="page-layout simple left-sidebar inner-sidebar inner-scroll"
    style="overflow: auto !important">
    <mat-toolbar class="m-0 mat-accent">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    list
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Client Record Details
                    <span style="
                     font-style:normal;font-size:95%; color: white;" *ngIf="Displayheader">
                      (<span>
                        {{name}}</span>           
                      )</span> 
                </span>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div class="content-card p-24 m-0 " fusePerfectScrollbar>
        <div fxLayoutAlign="space-between center" fxLayoutAlign.xs="center center" fxLayout="row" fxLayout.xs="column"
            fxLayoutGap.xs="10px">
            <span class="font-size-20">{{dialogTitle}} Client Record</span>
            <div style="flex: 1 auto;"></div>
            <div class="pb-12">
                <button mat-raised-button color="default" class="submit-button" type="button" (click)="back()">
                    Back
                </button>
                <button mat-raised-button color="accent" class="submit-button" type="button"
                    [disabled]="firstFormGroup.invalid || thirdFormGroup.invalid" (click)="Save()"
                    style="margin-left: 10px;">
                    <!-- || refferalContactList.length < 1 -->
                    Save Record
                </button>
            </div>
        </div>
        <div class="mat-elevation-z2" style="background-color: white;">

            <mat-tab-group [(selectedIndex)]="selectedIndex" (selectedTabChange)="tabChanged($event)">
                <mat-tab>
                    <ng-template mat-tab-label>
                        <div style="display: block;">
                            <div>
                                <img src="assets/icons/TabIcon/CaseDetails.svg" onerror="this.onerror=null;">
                            </div>
                            <div style="font-size: 12px;">Main Details</div>
                        </div>

                        <div class="pl-48" fxHide fxShow.gt-lg>
                            <mat-icon style="font-weight: 900 !important;">arrow_forward_ios</mat-icon>
                        </div>
                    </ng-template>
                    <div class="p-20">
                        <form name="firstFormGroup" fxLayout="column" [formGroup]="firstFormGroup" novalidate
                            autocomplete="off">


                            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.xs="0px">
                                <mat-form-field class="example-column2">
                                    <!-- <mat-label>Company Name</mat-label> -->
                                    <mat-label>Date New client Added<span class="required">*</span></mat-label>
                                    <input matInput readonly [matDatepicker]="clientAddedDatePicker"
                                        aria-invalid="false" formControlName="ClientAddedDate">
                                    <mat-datepicker-toggle matSuffix [for]="clientAddedDatePicker">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #clientAddedDatePicker></mat-datepicker>
                                    <mat-error
                                        *ngIf="firstFormGroup.get('ClientAddedDate').hasError('required') && !firstFormGroup.get('ClientAddedDate').hasError('dateVaidator')">
                                        Date Required</mat-error>
                                    <mat-error *ngIf="firstFormGroup.get('ClientAddedDate').hasError('dateVaidator')">
                                        Please Provide a
                                        Valid Date format dd/mm/yyyy</mat-error>
                                </mat-form-field>

                                <div class="example-column2">
                                    <mat-form-field fxFlex="91">
                                        <mat-label>Client Referral Source<span class="required">*</span></mat-label>
                                        <mat-select formControlName="RefSourceId">
                                            <mat-option *ngFor="let Ref of getddlRefSource" [value]="Ref.id">
                                                {{Ref.name}}</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="firstFormGroup.get('RefSourceId').hasError('required')">
                                            Required</mat-error>

                                    </mat-form-field>
                                    <!-- <button mat-mini-fab color="accent" matTooltip="Add Source" (click)="AddRefSource()"
                                        style="margin-left: 20px;">
                                        <mat-icon>add</mat-icon>
                                    </button> -->
                                </div>

                                <div class="example-column2">
                                    <div class="labeltext mr-16" fxLayout="row" fxFlex.lg="45" fxFlex.md="45"
                                        fxFlex.sm="50" fxFlex.xs="100">
                                        <mat-label class="mr-36">Type:</mat-label>
                                        <mat-radio-group formControlName="ClientTypeId">
                                            <mat-radio-button [value]="1" class="example-ripple-checkbox mr-36"
                                                (change)="radioChange($event)">
                                                Insurance</mat-radio-button>
                                            <mat-radio-button [value]="2" class="example-ripple-checkbox"
                                                (change)="radioChange($event)">Retail
                                            </mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                </div>

                                <div class="example-column2">
                                    <div class="labeltext mr-16" fxLayout="row" fxFlex.lg="45" fxFlex.md="45"
                                        fxFlex.sm="50" fxFlex.xs="100">
                                        <mat-label class="mr-36">Status:</mat-label>
                                        <!-- <span class="toggletext"> -->
                                        <mat-slide-toggle [color]="'accent'" formControlName="Status"
                                            (click)="ChangeStatusToggle()" style="margin-right: 10px;">
                                            <b>{{StatusToggle ? 'Active':'InActive'}}</b>
                                        </mat-slide-toggle>
                                        <!-- </span> -->
                                    </div>
                                </div>
                            </div>

                            <!-- <div fxFlex="1 0 auto" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
                                fxLayoutGap="30px" fxLayoutGap.sm="0px" fxLayoutGap.xs="0px">
                                <div fxFlex="75" fxFlex.sm="25" fxflex.xs="100"> -->
                            <!-- <mat-form-field fxFlex="100" fxFlex.sm="50">
                                        <input matInput readonly [matDatepicker]="clientAddedDatePicker"
                                            placeholder="Date New client Added" aria-invalid="false"
                                            formControlName="ClientAddedDate" required>
                                        <mat-datepicker-toggle matSuffix [for]="clientAddedDatePicker">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #clientAddedDatePicker></mat-datepicker>
                                    </mat-form-field> -->

                            <!-- <mat-form-field fxFlex="100" fxFlex.sm="50"> 
                                        <mat-form-field class="example-column2">
                                        <input matInput [matDatepicker]="clientAddedDatePicker"
                                            placeholder="Date New client Added" aria-invalid="false"
                                            formControlName="ClientAddedDate" required>
                                        <mat-datepicker-toggle matSuffix [for]="clientAddedDatePicker">
                                        </mat-datepicker-toggle>
                                        <mat-datepicker #clientAddedDatePicker></mat-datepicker>
                                        <mat-error
                                            *ngIf="firstFormGroup.get('ClientAddedDate').hasError('required') && !firstFormGroup.get('ClientAddedDate').hasError('dateVaidator') "
                                            class="alert alert-danger">Required</mat-error>
                                        <mat-error
                                            *ngIf="firstFormGroup.get('ClientAddedDate').hasError('dateVaidator')">
                                            Please Provide a Valid Date</mat-error>
                                    </mat-form-field>

                                    <mat-form-field class="example-column1">
                                        <mat-label>Client</mat-label>
                                        <mat-select formControlName="ClientID" (selectionChange)="onClientChange()"
                                          [disabled]="DisableService" required>
                                          <mat-option *ngFor="let client of getddlClient" [value]="client.clientID">{{client.companyName}}
                                          </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="firstFormGroup.get('ClientID').hasError('required')" class="alert alert-danger">
                                          Required</mat-error>
                                      </mat-form-field>
                                </mat-form-field>
                                </div>
                                <div fxFlex="75" fxFlex.sm="100" fxFlex.xs="100">
                                    <div fxLayout="row" fxLayout.xs="column">
                                        <div class="labeltext mr-16" fxLayout="row" fxFlex.lg="45" fxFlex.md="45"
                                            fxFlex.sm="50" fxFlex.xs="100">
                                            <mat-label class="mr-36">Type:</mat-label>
                                            <mat-radio-group formControlName="ClientTypeId">
                                                <mat-radio-button [value]="1" class="example-ripple-checkbox mr-36"
                                                    (change)="radioChange($event)">
                                                    Insurance</mat-radio-button>
                                                <mat-radio-button [value]="2" class="example-ripple-checkbox"
                                                    (change)="radioChange($event)">Retail
                                                </mat-radio-button>
                                            </mat-radio-group>
                                        </div>

                                        <div class="labeltext" fxFlex="33" fxFlex.sm="50" fxFlex.xs="100"
                                            style="padding-top: 5px;">
                                            <span class="mr-48">
                                                <mat-label>Status:</mat-label>
                                            </span>
                                            <span class="toggletext">
                                                <mat-slide-toggle [color]="'accent'" formControlName="Status"
                                                    (click)="ChangeStatusToggle()" style="margin-right: 10px;">
                                                    <b>{{StatusToggle ? 'Active':'InActive'}}</b>
                                                </mat-slide-toggle>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px" fxLayoutGap.xs="0px">
                                <mat-form-field class="example-column2">
                                    <mat-label>Company Name<span class="required">*</span></mat-label>
                                    <input matInput formControlName="CompanyName">
                                    <mat-error *ngIf="firstFormGroup.controls['CompanyName'].hasError('required')"
                                        class="alert alert-danger">Required.</mat-error>
                                    <mat-error
                                        *ngIf="firstFormGroup.controls['CompanyName'].hasError('EmailTaken') && firstFormGroup.controls['CompanyName'].touched">
                                        Company Name already exist</mat-error>
                                </mat-form-field>

                                <mat-form-field class="example-column2">
                                    <mat-label>Head Office Address<span class="required">*</span></mat-label>
                                    <input matInput formControlName="HeadOfficeAddress">
                                    <mat-error
                                        *ngIf="firstFormGroup.get('HeadOfficeAddress').errors && firstFormGroup.get('HeadOfficeAddress').errors.required">
                                        Required.
                                    </mat-error>
                                    <!-- <mat-error *ngIf="firstFormGroup.get('HeadOfficeAddress').hasError('required')" class="alert alert-danger">Required.</mat-error>  -->
                                </mat-form-field>

                                <mat-form-field class="example-column2">
                                    <mat-label>Town<span class="required">*</span></mat-label>
                                    <input matInput formControlName="Town">
                                    <mat-error
                                        *ngIf="firstFormGroup.get('Town').errors && firstFormGroup.get('Town').errors.required">
                                        Required.
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="example-column2">
                                    <mat-label>Postcode<span class="required">*</span></mat-label>
                                    <input matInput formControlName="Postcode"
                                        oninput="this.value = this.value.toUpperCase()">
                                    <mat-error
                                        *ngIf="firstFormGroup.get('Postcode').errors && firstFormGroup.get('Postcode').errors.required">
                                        Required.
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px"
                                fxLayoutGap.xs="0px">

                                <mat-form-field class="example-column2">
                                    <mat-label>Principal contact name<span class="required">*</span></mat-label>
                                    <input matInput formControlName="PrincipalContactName">
                                    <mat-error
                                        *ngIf="firstFormGroup.get('PrincipalContactName').errors && firstFormGroup.get('PrincipalContactName').errors.required">
                                        Required.
                                    </mat-error>

                                </mat-form-field>
                                <!-- pattern="^\s*(([+]\s?\d[-\s]?\d|0)?\s?\d([-\s]?\d){9}|[(]\s?\d([-\s]?\d)+\s*[)]([-\s]?\d)+)\s*$" -->
                                <mat-form-field class="example-column2">
                                    <mat-label>Principal contact number<span class="required">*</span></mat-label>
                                    <!-- <input matInput formControlName="PrincipalContactNo" required> -->
                                    <input matInput formControlName="PrincipalContactNo" maxLength="20">
                                    <mat-error
                                        *ngIf="firstFormGroup.get('PrincipalContactNo').errors && firstFormGroup.get('PrincipalContactNo').errors.maxLength">
                                        Invalid</mat-error>
                                    <mat-error
                                        *ngIf="firstFormGroup.controls['PrincipalContactNo'].hasError('required')"
                                        class="alert alert-danger">Required</mat-error>
                                </mat-form-field>

                                <mat-form-field class="example-column2">
                                    <mat-label>Principal contact email<span class="required">*</span></mat-label>
                                    <input matInput formControlName="PrincipalContactEmail"
                                        pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z_\-\.]+)\.([a-zA-Z]{2,5})$">
                                    <mat-error
                                        *ngIf="firstFormGroup.get('PrincipalContactEmail').errors && firstFormGroup.get('PrincipalContactEmail').errors.required">
                                        Required.
                                    </mat-error>
                                    <!-- <mat-error
                                        *ngIf="firstFormGroup.get('PrincipalContactEmail').errors && firstFormGroup.get('PrincipalContactEmail').errors.email">
                                        Invalid email address.
                                    </mat-error> -->
                                    <mat-error
                                        *ngIf="firstFormGroup.get('PrincipalContactEmail').errors && firstFormGroup.get('PrincipalContactEmail').errors.pattern">
                                        Invalid email address.
                                    </mat-error>
                                </mat-form-field>
                                <div class="example-column2">
                                    <mat-form-field fxFlex="91">
                                        <mat-label>Region</mat-label>
                                        <mat-select formControlName="RegionId">
                                            <mat-option *ngFor="let region of getddlregion" [value]="region.id">
                                                {{region.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <button mat-mini-fab color="accent" matTooltip="Add Region" (click)="AddRegion()"
                                        style="margin-left: 20px;">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </div>
                            </div>



                            <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px"
                                fxLayoutGap.xs="0px">
                                <mat-form-field class="example-column1">
                                    <mat-label>Landline</mat-label>
                                    <!-- <input matInput formControlName="PrincipalContactNo" required> -->
                                    <input matInput formControlName="LandlineNo" maxLength="20">
                                    <!-- <mat-error
                                        *ngIf="firstFormGroup.get('LandlineNo').errors && firstFormGroup.get('LandlineNo').errors.maxLength">
                                        Invalid</mat-error> -->
                                    <mat-error *ngIf="firstFormGroup.controls['LandlineNo'].hasError('required')"
                                        class="alert alert-danger">Required</mat-error>
                                </mat-form-field>


                                <mat-form-field class="example-column1">
                                    <mat-label>Mobile</mat-label>
                                    <!-- <input matInput formControlName="PrincipalContactNo" required> -->
                                    <input matInput formControlName="MobileNo" maxLength="20">
                                    <!-- <mat-error
                                        *ngIf="firstFormGroup.get('MobileNo').errors && firstFormGroup.get('MobiletNo').errors.maxLength">
                                        Invalid</mat-error> -->
                                    <mat-error *ngIf="firstFormGroup.controls['MobileNo'].hasError('required')"
                                        class="alert alert-danger">Required</mat-error>
                                </mat-form-field>

                            </div>

                            <p class="titletext"><span style="line-height: 2.2">Services to be Provided</span>
                                <mat-divider class="mb-16"></mat-divider>
                            </p>

                            <div fxFlex="1 0 auto" fxLayout="column" fxLayout.xs="column" fxLayoutGap="20px"
                                fxLayoutGap.sm="20px" fxLayoutGap.xs="20px">
                                <div style="color:red" *ngIf="msg">*{{taken}}</div>
                                <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap.sm="20px"
                                    fxLayoutGap.xs="20px" class="flexrow">

                                    <div *ngFor="let item of ClientServiceSource" fxFlex="33" fxFlex.sm="33"
                                        fxFlex.xs="100">

                                        <mat-checkbox class="example-ripple-checkbox" [value]="item.serviceTypeId"
                                            [checked]="item.checkedService" (change)="onCheckChange($event)">
                                            {{item.serviceType}}
                                        </mat-checkbox>
                                    </div>
                                </div>
                            </div>

                            <p class="titletext">
                                <span style="display: flex;">
                                    <span style="line-height: 2.2">
                                        Contact(s)

                                    </span>

                                    <span style="flex: 1 auto;"></span>
                                    <span>
                                        <button mat-mini-fab color="accent" class="submit-button"
                                            matTooltip="Add Referral Authority Contact" type="button"
                                            [disabled]="disableContactButton" (click)="AddReferralAuthority()">
                                            <mat-icon>add</mat-icon>
                                        </button>
                                    </span>
                                </span>
                                <mat-divider class="mb-16"></mat-divider>
                            </p>

                            <div class="content-card example-container">
                                <div><span style="color:red" *ngIf="ContactMsg">*{{ContactMsgString}}</span></div>
                                <table mat-table [dataSource]="refferalContactGrid" class="products-table">
                                    <ng-container matColumnDef="Name">
                                        <th mat-header-cell *matHeaderCellDef><b>Name</b> </th>
                                        <td mat-cell *matCellDef="let element">
                                            {{element.contactName}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="JobTitle">
                                        <th mat-header-cell *matHeaderCellDef> <b>Job Title</b> </th>
                                        <td mat-cell *matCellDef="let element">
                                            <p class="text-truncate">{{element.jobTitle}}</p>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="TelephoneNo">
                                        <th mat-header-cell *matHeaderCellDef> <b>Telephone No </b></th>
                                        <td mat-cell *matCellDef="let element">
                                            <p class="text-truncate">{{element.phoneNo}}</p>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="WhereBased">
                                        <th mat-header-cell *matHeaderCellDef> <b>Where based if not HO</b></th>
                                        <td mat-cell *matCellDef="let element">
                                            <p class="text-truncate">{{element.nonHOLocation}}</p>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="EmailAddress">
                                        <th mat-header-cell *matHeaderCellDef> <b>EmailAddress</b> </th>
                                        <td mat-cell *matCellDef="let element">
                                            <p class="text-truncate">{{element.contactEmail}}</p>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="edit">
                                        <th mat-header-cell *matHeaderCellDef> </th>
                                        <td mat-cell *matCellDef="let element">
                                            <button mat-icon-button matTooltip="Edit" type="button"
                                                (click)="EditReferralAuthority(element.clientReferralContactsId)">
                                                <mat-icon [color]="'accent'">edit</mat-icon>
                                            </button>
                                            <button mat-icon-button matTooltip="Delete"
                                                (click)="DeleteReferralAuthority(element.clientReferralContactsId)">
                                                <mat-icon [color]="'accent'">delete</mat-icon>
                                            </button> </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                                </table>
                            </div>


                            <!-- <p class="titletext">
                                <span style="display: flex;">
                                    <span style="line-height: 2.2">
                                        Contact(s)
                                    </span>
                                </span>
                                <mat-divider class="mb-16"></mat-divider>
                            </p> -->




                            <!-- <app-referral-authority-contact></app-referral-authority-contact> -->

                            <p class="titletext">
                                <span style="display: flex;">
                                    <span style="line-height: 2.2"> Accounts Contact(s)</span>
                                    <span style="flex: 1 auto;"></span>
                                    <span>
                                        <button mat-mini-fab color="accent" class="submit-button"
                                            matTooltip="Add Account Contact" type="button"
                                            [disabled]="disableContactButton" (click)="AddAccountContact()">
                                            <mat-icon>add</mat-icon>
                                        </button>
                                    </span>
                                </span>
                                <mat-divider class="mb-16"></mat-divider>
                            </p>

                            <div class="content-card example-container ">
                                <table mat-table [dataSource]="accountContactGrid" class="products-table">
                                    <ng-container matColumnDef="ActContactName">
                                        <th mat-header-cell *matHeaderCellDef><b>Name</b> </th>
                                        <td mat-cell *matCellDef="let element">
                                            {{element.fullName}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="ActPhoneNo">
                                        <th mat-header-cell *matHeaderCellDef> <b>Telephone No</b> </th>
                                        <td mat-cell *matCellDef="let element">
                                            <p class="text-truncate">{{element.telephoneNumber}}</p>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="ActContactEmail">
                                        <th mat-header-cell *matHeaderCellDef> <b>EmailAddress</b> </th>
                                        <td mat-cell *matCellDef="let element">
                                            <p class="text-truncate">{{element.emailAddress}}</p>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Instructions">
                                        <th mat-header-cell *matHeaderCellDef style="top: 0px;position: sticky;z-index: 100;padding-left: 2%;">
                                         <b>PO Number(if Required)</b></th>                                                
                                        <td mat-cell *matCellDef="let element" style="padding-left: 2%;">
                                            <p class="text-truncate">{{element.instructions}}</p>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="PaymentTerms">
                                        <th mat-header-cell *matHeaderCellDef> <b>Agreed Payment Terms</b> </th>
                                        <td mat-cell *matCellDef="let element">
                                            <p class="text-truncate">{{element.paymentTerms}}</p>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="edit">
                                        <th mat-header-cell *matHeaderCellDef> </th>
                                        <td mat-cell *matCellDef="let element">
                                            <button mat-icon-button matTooltip="Edit"
                                                (click)="EditAccountContact(element.userID)">
                                                <mat-icon [color]="'accent'">edit</mat-icon>
                                            </button>
                                            <button mat-icon-button matTooltip="Delete"
                                                (click)="DeleteAccountContact(element.userID)">
                                                <mat-icon [color]="'accent'">delete</mat-icon>
                                            </button>
                                        </td>
                                    </ng-container>

                                    <!-- <ng-container matColumnDef="delete">
                                        <th mat-header-cell *matHeaderCellDef> </th>
                                        <td mat-cell *matCellDef="let element">
                                             </td>
                                    </ng-container> -->

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns1;sticky:true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>

                                </table>
                            </div>

                            <!-- <div class="pb-12 pt-12 text-right">
                                <button mat-raised-button color="accent" (click)="nextStep()" class="submit-button"
                                    type="submit">
                                    Next
                                </button>
                            </div> -->
                            <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="column"
                                style="justify-content: space-between;" class="mt-16">
                                <div style="display: flex; width: 100%;">
                                    <div style=" flex:1 auto;"> </div>
                                    <!-- <button mat-raised-button color="accent" class="submit-button mr-8" type="submit"
                                        (click)="SaveCaseRecord()" [disabled]="firstFormGroup.invalid">
                                        Save Record
                                    </button> -->
                                    <button mat-raised-button color="accent" class="submit-button  mr-8" type="button"
                                        [disabled]="firstFormGroup.invalid || thirdFormGroup.invalid" (click)="Save()">
                                        Save Record
                                    </button>
                                    <div style=" flex: 1 auto;"> </div>
                                    <button mat-raised-button (click)="nextStep()" color="accent" class="submit-button"
                                        type="submit">
                                        Next
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </mat-tab>

                <!-- <mat-tab>                    
                    <ng-template  mat-tab-label >
                            <mat-icon style="font-weight: 900 !important;">arrow_forward_ios</mat-icon>
                    </ng-template>
                </mat-tab> -->

                <mat-tab *ngIf="!ShowInsurenceService">
                    <ng-template mat-tab-label>
                        <div style="display:block;">
                            <div>
                                <img src="assets/icons/TabIcon/Benefits.svg" onerror="this.onerror=null;">
                            </div>
                            <div style="font-size: 12px;">Employee Benefits </div>
                        </div>
                        <div style="padding-left: 30%;" fxHide fxShow.gt-md>
                            <mat-icon style="font-weight: 900 !important;">arrow_forward_ios</mat-icon>
                        </div>
                    </ng-template>
                    <div class="p-20">
                        <form [formGroup]="secondFormGroup" fxLayout="column" novalidate autocomplete="off">

                            <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px"
                                fxLayoutGap.xs="0px">
                                <mat-form-field fxFlex="91">
                                    <mat-label>Name Of Broker(s)</mat-label>
                                    <mat-select formControlName="BrokerId">
                                        <mat-option *ngFor="let broker of getddlbroker" [value]="broker.id">
                                            {{broker.name}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <button mat-mini-fab color="accent" matTooltip="Add Broker" (click)="AddBroker()"
                                    style="margin-left: 20px;">
                                    <mat-icon>add</mat-icon>
                                </button>

                                <mat-form-field class="example-column ">
                                    <mat-label>Pension Scheme</mat-label>
                                    <input matInput formControlName="PensionScheme">
                                </mat-form-field>
                            </div>
                            <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="row">
                                <div class="labeltext mr-48" style="margin-top: 20px;">
                                    <mat-label>Final Salary
                                    </mat-label>
                                </div>
                                <div class="labeltext" style="margin-top: 20px;">
                                    <mat-slide-toggle [color]="'accent'" formControlName="FinalSalary"
                                        (click)="ToggleFinalSalary()"> <b>{{showSalary ? 'Yes':'No'}}</b>
                                    </mat-slide-toggle>
                                </div>
                            </div>

                            <div *ngIf="showSalary" fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="row">
                                <div class="labeltext example-column2" style="margin-top: 20px;">
                                    <mat-label> Is there an Ill-health Early Retirement Facility?
                                    </mat-label>
                                </div>
                                <div class="labeltext example-column2" style="margin-top: 20px;">
                                    <mat-slide-toggle [color]="'accent'" formControlName="IllHealthEarlyRetirement"
                                        (click)="toggle()"><b>{{show ? 'Yes':'No'}}</b>
                                    </mat-slide-toggle>
                                </div>
                            </div>
                            <p class="titletext"><span style="line-height: 2.2">Income Protection</span>
                                <mat-divider class="mb-16"></mat-divider>
                            </p>

                            <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="column">
                                <mat-form-field class="example-column2">
                                    <mat-label>Name of Insurer</mat-label>
                                    <input matInput formControlName="IPInsurerName">
                                </mat-form-field>
                            </div>
                            <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px"
                                fxLayoutGap.xs="0px">
                                <mat-form-field class="example-column2">
                                    <mat-label>Deferred period</mat-label>
                                    <input matInput formControlName="DeferredPeriod">
                                </mat-form-field>
                                <mat-form-field class="example-column2">
                                    <mat-label>Duration</mat-label>
                                    <input matInput formControlName="Duration">
                                </mat-form-field>
                                <mat-form-field class="example-column2">
                                    <mat-label>Renewal Due</mat-label>
                                    <input matInput formControlName="RenewalDue">
                                </mat-form-field>
                            </div>
                            <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="column">
                                <mat-form-field class="example-column3">
                                    <mat-label>Definition of Occupation</mat-label>
                                    <input matInput formControlName="DefinitionOfOccupation">
                                </mat-form-field>
                            </div>
                            <p class="titletext"><span style="line-height: 2.2">Medical Insurance</span>
                                <mat-divider class="mb-16"></mat-divider>
                            </p>
                            <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="column">
                                <mat-form-field class="example-column2">
                                    <mat-label>Name of Insurer/Administrator</mat-label>
                                    <input matInput formControlName="MIInsurerAdminName">
                                </mat-form-field>
                            </div>
                            <p class="titletext"><span style="line-height: 2.2">Cash Plan</span>
                                <mat-divider class="mb-16"></mat-divider>
                            </p>
                            <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="column">
                                <mat-form-field class="example-column2">
                                    <mat-label>Name of Insurer</mat-label>
                                    <input matInput formControlName="CPInsurerName">
                                </mat-form-field>
                            </div>
                            <p class="titletext"><span style="line-height: 2.2">EAP</span>
                                <mat-divider class="mb-16"></mat-divider>
                            </p>
                            <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="column">
                                <mat-form-field class="example-column2">
                                    <mat-label>Name of provider</mat-label>
                                    <input matInput formControlName="EAPProviderName">
                                </mat-form-field>
                            </div>

                            <p class="titletext">Client Internal Absence Management Process<mat-divider class="mb-16">
                                </mat-divider>
                            </p>
                            <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px"
                                fxLayoutGap.xs="0px">
                                <mat-form-field class="example-column2">
                                    <mat-label>Number of days paid sick leave</mat-label>
                                    <input matInput formControlName="DaysPaidSickLeave">
                                </mat-form-field>
                                <mat-form-field class="example-column2 ">
                                    <mat-label>Current OH Provider</mat-label>
                                    <input matInput formControlName="OHPprovider">
                                </mat-form-field>
                                <mat-form-field class="example-column2 ">
                                    <mat-label>Recording</mat-label>
                                    <input matInput formControlName="Recording">
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayout.xs="row" class="mt-16" style="justify-content: space-between;">
                                <button mat-raised-button color="accent" (click)="previousStep()" type="submit">
                                    Previous
                                </button>
                                <!-- <button mat-raised-button color="accent" class="submit-button mr-8" (click)="Save()"
                                    type="submit">
                                    Save Record
                                </button> -->
                                <button mat-raised-button color="accent" class="submit-button  mr-8" type="button"
                                    [disabled]="firstFormGroup.invalid || thirdFormGroup.invalid" (click)="Save()">
                                    Save Record
                                </button>
                                <button mat-raised-button color="accent" (click)="nextStep()" class="submit-button mr-8"
                                    type="submit">
                                    Next
                                </button>
                            </div>
                        </form>
                    </div>

                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <div style="display: block;">
                            <div>
                                <img src="assets/icons/TabIcon/settings.svg" onerror="this.onerror=null;">
                            </div>
                            <div style="font-size: 12px;">Client Managment</div>
                        </div>
                        <div style="padding-left: 25%;" fxHide fxShow.gt-md>
                            <mat-icon style="font-weight: 900 !important;">arrow_forward_ios</mat-icon>
                        </div>
                    </ng-template>
                    <div class="p-20">
                        <form [formGroup]="thirdFormGroup" fxLayout="column">
                            <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px"
                                fxLayoutGap.xs="0px">
                                <div class="example-column2">
                                    <mat-form-field fxFlex="91">
                                        <mat-label>Relationship Owner<span class="required">*</span></mat-label>
                                        <!-- <input matInput formControlName="RelationshipOwner"> -->
                                        <mat-select formControlName="RelationshipOwner">
                                            <mat-option *ngFor="let owner of getddlOwner" [value]="owner.ownerId">
                                                {{owner.ownerName}}</mat-option>
                                        </mat-select>
                                        <mat-error>
                                            Relationship Owner is required.
                                        </mat-error>
                                    </mat-form-field>
                                    <button mat-mini-fab color="accent" matTooltip="Add Relationship Owner"
                                        (click)="AddReferenceOwner()" style="margin-left: 20px;">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </div>

                                <!-- <mat-form-field class="example-column">
                                    <mat-label>Relationship Meeting Intervals Agreed</mat-label>
                                    <input matInput formControlName="MeetingIntervals">
                                </mat-form-field> -->
                                <mat-form-field class="example-column2">
                                    <mat-label>Relationship Meeting Intervals Agreed</mat-label>
                                    <mat-select formControlName="MeetingIntervals">
                                        <mat-option [value]="'None'">None</mat-option>
                                        <mat-option [value]="'Monthly'">Monthly</mat-option>
                                        <mat-option [value]="'Quarterly'">Quarterly</mat-option>
                                        <mat-option [value]="'Bi-Annual'">Bi-Annual</mat-option>
                                        <mat-option [value]="'Annual'">Annual</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <!-- </div>

                            <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="column"> -->
                                <div class="labeltext mr-5" style="margin-top: 10px;">
                                    <mat-label class="mr-10">Formal Contract Required?</mat-label>
                                </div>
                                <div class="labeltext mr-12" style="margin-top: 20px;">
                                    <mat-slide-toggle [color]="'accent'" formControlName="FormalContractReqd"
                                        (click)="FormalContractToggle()"> <b>{{show1 ? 'Yes':'No'}}</b>
                                    </mat-slide-toggle>
                                </div>
                                <mat-form-field *ngIf="show1" class="example-column1 example-margin">
                                    <input matInput [matDatepicker]="ContractSignedDatepicker"
                                        placeholder="Date Contract signed" formControlName="ContractSignedDate">
                                    <mat-datepicker-toggle matSuffix [for]="ContractSignedDatepicker">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #ContractSignedDatepicker></mat-datepicker>
                                    <mat-error
                                        *ngIf="thirdFormGroup.get('ContractSignedDate').hasError('dateVaidator')">Please
                                        Provide a Valid Date</mat-error>
                                </mat-form-field>
                            </div>

                            <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px"
                                fxLayoutGap.xs="0px">

                                <mat-form-field class="example-column1">
                                    <input matInput [matDatepicker]="ContractTermExpirypicker"
                                        placeholder="Contract Term Expiry" formControlName="ContractExpiryDate">
                                    <mat-datepicker-toggle matSuffix [for]="ContractTermExpirypicker">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #ContractTermExpirypicker></mat-datepicker>
                                    <mat-error
                                        *ngIf="thirdFormGroup.get('ContractExpiryDate').hasError('dateVaidator')">Please
                                        Provide a Valid Date</mat-error>
                                </mat-form-field>

                                <mat-form-field class="example-column1">
                                    <mat-label>Consent to use Logo on HCB Website obtained?</mat-label>
                                    <mat-select formControlName="ConsentToUseLogo">
                                        <mat-option [value]="1">YES</mat-option>
                                        <mat-option [value]="0">NO</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <!-- <div fxLayout="row" fxLayout.xs="row" class="mt-16" style="justify-content: center;">
                                <button mat-raised-button color="accent" class="submit-button  mr-8" type="button"
                                    [disabled]="firstFormGroup.invalid || thirdFormGroup.invalid" (click)="Save()">
                                    Save Record
                                </button>
                            </div> -->
                       
                        </form>

                        <div fxLayoutAlign.xs="center center" fxLayout="row" fxLayout.xs="column" style="
                        flex-direction: row; box-sizing: border-box; display: flex; place-content: center space-between center; align-items: center;
                        "
                        fxLayoutGap.xs="10px">
                        <p class="titletext" style="padding-right: 20%;">
                            <span style="line-height: 2.2">Client Process Information</span>
                            <mat-divider class="mb-16"></mat-divider>
                        </p>
                        <div class="pb-12">               
                            <button mat-raised-button color="accent" class="submit-button  mr-8" type="button"
                            (click)="SaveClientInfo()">
                            Save Process Info
                        </button>
                        </div>
                    </div>
                        <!-- <p class="titletext">
                            <span style="line-height: 2.2">Client Process Information</span>
                            <mat-divider class="mb-16"></mat-divider>
                        </p> -->

                        <form [formGroup]="ClientProcessInfo" fxLayout="column" autocomplete="off">
                            <!-- <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="column">
                               
                            </div> -->
                            <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px"
                                fxLayoutGap.xs="0px">
                                <mat-form-field class="example-column1">
                                    <input matInput [matDatepicker]="CaseOwnerReferredDatePicker"
                                      placeholder="Date of Information" aria-invalid="false"
                                      formControlName="DateOfInformation" [disabled]="InfoDate" readonly>
                                    <mat-datepicker-toggle matSuffix [for]="CaseOwnerReferredDatePicker"> </mat-datepicker-toggle>
                                    <mat-datepicker #CaseOwnerReferredDatePicker></mat-datepicker>
                                   
                                  </mat-form-field>
                            
                                <mat-form-field class="example-column2">
                                    <mat-label>Agreed SLA's</mat-label>
                                    <mat-select formControlName="AgreedSLAId" (selectionChange)="onChangeSLA()">
                                        <mat-option *ngFor="let Sla of getddlAgreedSla" [value]="Sla.id">
                                            {{Sla.name}}</mat-option>
                                        <!-- <mat-option [value]="0">Personalised SLA's</mat-option> -->
                                    </mat-select>
                                </mat-form-field>
                            </div>
                           
                            <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="column" *ngIf="ShowDefinedSLA"> 
                                <mat-form-field appearance="outline" style="width: 80%;">                                                             
                                    <mat-label>Define Customised SLA's&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</mat-label>
                                    <textarea matInput formControlName="DefinedSLA"></textarea>                      
                                </mat-form-field>
                            
                            </div> 

                            <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px"
                                fxLayoutGap.xs="0px">
                                <mat-form-field class="example-column2">
                                    <mat-label>Reporting format</mat-label>
                                    <mat-select formControlName="ReportingFormat" (selectionChange)="OnChangeReportingFormat()">
                                        <mat-option *ngFor="let RptFormat of getddlReportingFormat"
                                            [value]="RptFormat.id">  
                                            {{RptFormat.name}}</mat-option>                             
                                    </mat-select>
                                </mat-form-field>
                 
                            </div>
                            <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px"
                            fxLayoutGap.xs="0px" *ngIf="ShowReportingFormatField">
                            <mat-form-field class="example-column2">
                                <mat-label>Enter Email Address</mat-label>
                                <input matInput formControlName="EncryptedEmailAddress" autocomplete="nope">
                         
                            </mat-form-field>
                            <button mat-mini-fab color="accent" matTooltip="Add Email Address"
                            (click)="AddEmailAddress()" style="margin-left: 20px;">
                            <mat-icon>add</mat-icon>
                        </button>
                            </div>
                            <!-- List Of Mail to Ssend Report -->

                            <div fxLayout="row" *ngIf="ShowReportingFormatField">
                                <div class="profile-box latest-activity" fxLayout="column" fxFlex="50">

                                    <header class="accent" fxLayout="row" fxLayoutAlign="space-between center">
                                        <div class="title">Select Email Addresses to send Report</div>
                                    </header>

                                    <div class="content example-container" fxLayout="row wrap" style="height: 100%;">
                                        <div *ngFor="let item of EmailAddressList" class="activities"
                                            style="width: 100%;">
                                            <div class="activity" fxLayout="row" fxLayoutAlign="start start"
                                                style="padding-bottom: 2%;">        
                                                <mat-checkbox class="example-ripple-checkbox" [value]="item.id"
                                                    [checked]="item.checkEmailAddress"  (change)="onCheckEmsilAddress((item.emailAddress),$event)" style="
                                                    padding-top: 9px;
                                                ">
                                                  
                                                </mat-checkbox>
                                            
                                                <div fxLayout="column">
                                                    
                                                        <span class="username"
                                                            style="margin-right: 15px;">{{item.emailAddress}}
                                                            <span class="time secondary-text"
                                                            style="margin-right: 30px;"><button mat-icon-button matTooltip="Delete" type="button"
                                                            (click)="DeleteEmailAddress(item.id,item.emailAddress )">
                                                            <mat-icon [color]="'accent'">delete</mat-icon>
                                                          </button></span> 
                                                        </span>

                                                        <!-- <span class="time secondary-text"
                                                            style="margin-right: 30px;"><button mat-icon-button matTooltip="Delete" type="button"
                                                            (click)="DeleteFailedCall(item.ClientId)">
                                                            <mat-icon [color]="'accent'">delete</mat-icon>
                                                          </button></span>                                                -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- end -->

                            <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px"
                                fxLayoutGap.xs="0px">
                                <mat-form-field class="example-column1" *ngIf="ShowReportingFormatField">
                                    <mat-label>Agreed Encryption Password</mat-label>
                                    <input matInput type="text" formControlName="EncryptedPassword" autocomplete="new-password">
                                </mat-form-field>
                                <mat-form-field class="example-column1" *ngIf="ShowReportingFormatField">
                                    <mat-label>TLS Enabled?</mat-label>
                                    <mat-select formControlName="IsTLSEnabled" (selectionChange)="onChangeTLSEnabled()">
                                        <mat-option [value]="1">YES</mat-option>
                                        <mat-option [value]="0">NO</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field class="example-column1" *ngIf="ShowDate">
                                    <input matInput [matDatepicker]="DatePicker" placeholder="Date"
                                        formControlName="TLSDate">
                                    <mat-datepicker-toggle matSuffix [for]="DatePicker">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #DatePicker></mat-datepicker>
                                  
                                      <mat-error *ngIf="ClientProcessInfo.get('TLSDate').hasError('dateVaidator')">Please
                                        Provide a Valid Date format dd/mm/yyyy</mat-error> 
                                </mat-form-field>
        
                            </div>
                            <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px"
                                fxLayoutGap.xs="0px">
                                <mat-form-field class="example-column1">
                                    <mat-label>Invoicing Arrangements</mat-label>
                                    <mat-select formControlName="InvoiceFrequency">
                                        <mat-option *ngFor="let InvFreq of getddlFrequencyInvoice" [value]="InvFreq.id">
                                            {{InvFreq.name}}</mat-option>
                                        <!-- <mat-option [value]="0">Monthly Invoice with Spreadsheet</mat-option> -->
                                    </mat-select>
                                </mat-form-field>
                                     <mat-form-field class="example-column1">
                                    <mat-label>Purchase Order Required?</mat-label>
                                    <mat-select formControlName="IsPurchesOrderRequired" (selectionChange)="onChangeOrderRequired()">
                                        <mat-option [value]="1">YES</mat-option>
                                        <mat-option [value]="0">NO</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                 <mat-form-field class="example-column1" *ngIf="ShowPOExpiryDate">
                                    <mat-label>PO Number</mat-label>
                                    <input matInput type="text" formControlName="PONumber" autocomplete="new-password">
                                </mat-form-field> 
                                <mat-form-field class="example-column1" *ngIf="ShowPOExpiryDate">
                                    <input matInput [matDatepicker]="POexpiryDatePicker" placeholder="Date of PO expiry"
                                        formControlName="DatePOExpiry">
                                    <mat-datepicker-toggle matSuffix [for]="POexpiryDatePicker">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #POexpiryDatePicker></mat-datepicker>
                                  
                                      <mat-error *ngIf="ClientProcessInfo.get('TLSDate').hasError('dateVaidator')">Please
                                        Provide a Valid Date format dd/mm/yyyy</mat-error> 
                                </mat-form-field>

                            </div>
                            <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="column" fxLayoutGap="30px"
                                fxLayoutGap.xs="0px">
                                <!-- <mat-form-field class="example-column2">
                                    <mat-label>Any Specific Instructions</mat-label> -->
                                <mat-form-field appearance="outline" Style="width: 80%;">
                                    <mat-label>Any Specific Instructions&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</mat-label>
                                    <textarea matInput formControlName="SpecificInstruction"
                                        > </textarea>
                                </mat-form-field>
                                <!-- </mat-form-field> -->
                            </div>
                            <div fxLayout="row" fxLayout.xs="row" class="mt-16" style="justify-content: center;">
                                <button mat-raised-button color="accent" class="submit-button  mr-8" type="button"
                                    (click)="SaveClientInfo()">
                                    Save Process Info
                                </button>
                            </div>
             
                        </form>
                        <div fxLayout="row" fxLayout.xs="row" class="mt-16" style="justify-content: space-between;">
                            <button mat-raised-button color="accent" (click)="previousStep()" type="submit">
                                Previous
                            </button>
            
                            <button mat-raised-button color="accent" (click)="nextStep()" class="submit-button mr-8"
                                type="submit">
                                Next
                            </button>
                        </div>

                    </div>
                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                        <div style="display: block;">
                            <div>
                                <img src="assets/icons/TabIcon/CaseNote.svg" onerror="this.onerror=null;">
                            </div>
                            <div style="font-size: 12px;">Client Notes</div>
                        </div>
                        <div style="padding-left: 30%;" fxHide fxShow.gt-md>
                            <mat-icon style="font-weight: 900 !important;">arrow_forward_ios</mat-icon>
                        </div>
                    </ng-template>
                    <div class="p-20">
                        <form name="fourthFormGroup" [formGroup]="fourthFormGroup" fxLayout="column" novalidate
                            autocomplete="off">
                            <ng-template matStepLabel>Case Notes </ng-template>
                            <!-- <mat-form-field appearance="outline" style="width: 100%;height: 80px;">
                                <textarea matInput formControlName="NoteDescription"></textarea>
                            </mat-form-field> -->
                            <ejs-richtexteditor formControlName="NoteDescription" [toolbarSettings]='tools'></ejs-richtexteditor>
                            <div>
                                <button mat-raised-button color="accent" class="submit-button" type="button"
                                    [disabled]="disableContactButton" (click)="SaveNote()">
                                    Save Note
                                </button>
                                <mat-checkbox class="example-ripple-checkbox" (change)="SendNotification($event)"
                                    style="margin-left: 1%; padding-left: 1%;">
                                    Notify Team
                                </mat-checkbox>
                      
                                <mat-form-field style="width: 300px;">
                                    <input matInput [matDatepicker]="NextActionDatePicker" placeholder="Next Action Due"
                                        aria-invalid="false" formControlName="NextActionDate">
                                    <mat-datepicker-toggle matSuffix [for]="NextActionDatePicker">
                                    </mat-datepicker-toggle>
                                    <mat-datepicker #NextActionDatePicker></mat-datepicker>
                                    <mat-error
                                        *ngIf="fourthFormGroup.get('NextActionDate').hasError('required') && !fourthFormGroup.get('NextActionDate').hasError('dateVaidator') "
                                        class="alert alert-danger">Required</mat-error>
                                    <mat-error *ngIf="fourthFormGroup.get('NextActionDate').hasError('dateVaidator')">
                                        Please Provide a Valid Date</mat-error>
                                </mat-form-field>
                            </div>
                            <p style="
                            margin-top: 0px;
                            margin-bottom: 0px;
                        ">
                                <mat-divider></mat-divider>
                            </p>

                            <div style="display: flex;">
                                <h3>Notes History</h3>
                                <div style="display: flex;">
                                </div>
                                <div style="flex: 0.1 0 0%;"> </div>
                                <mat-form-field style="width: 300px;">
                                    <mat-label>Search Note</mat-label>
                                    <input type="text" matInput (input)="SearchNote($event.target.value)"
                                        formControlName="SearchNote">
                                    <mat-icon matSuffix (click)="Clear()" style="cursor:pointer;">close</mat-icon>
                                </mat-form-field>
                        
                            </div>

                            <div fxLayout="row">
                                <div class="profile-box latest-activity" fxLayout="column" fxFlex="100">

                                    <header class="accent" fxLayout="row" fxLayoutAlign="space-between center">
                                        <div class="title">Latest Notes</div>
                                    </header>

                                    <div class="content example-container" fxLayout="row wrap" style="height: 100%;">
                                        <div *ngFor="let item of noteDataSource" class="activities"
                                            style="width: 100%;">
                                            <div class="activity" fxLayout="row" fxLayoutAlign="start start"
                                                style="padding-bottom: 2%;">

                                                <div class="avatar avatar_name">{{item.fullName.charAt(0)}}</div>
                                                <div fxLayout="column">
                                                    <div>
                                                        <span class="username"
                                                            style="margin-right: 15px;"><b>{{item.fullName}}</b></span>

                                                        <span class="time secondary-text"
                                                            style="margin-right: 30px;"><b>{{item.noteCreatedOn |date: "dd/MM/yyyy h:mm a"}}
                                                            </b></span>
                                                        <span class="username"
                                                            style="margin-right: 15px;"><b>{{item.displayMessage}}</b></span>
                                                        <span class="time secondary-text"
                                                            style="margin-right: 15px;"><b>{{item.nextActionDate |date: "dd/MM/yyyy "}}
                                                            </b></span>
                                                        <span class="username"
                                                            style="margin-right: 15px;"><b>{{item.notifyMessage}}</b></span>
                                                        <span class="time secondary-text"><b>{{item.notifyDate |date: "dd/MM/yyyy h:mm a"}}
                                                            </b></span>
                                                    </div>
                                                    <!-- <span class="message" style="padding-top: 1%;">{{item.description}}
                                                    </span> -->
                                                    <div class="message" style="padding-top: 1%;word-break: break-word;" [innerHTML]="item.description | crmsafeHtml">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div fxLayout="row" fxLayout.xs="row" class="mt-16" style="justify-content: space-between;">
                                <button mat-raised-button color="accent" (click)="previousStep()" type="button">
                                    Previous
                                </button>
                                <button mat-raised-button color="accent" class="submit-button  mr-8" type="button"
                                    [disabled]="firstFormGroup.invalid || thirdFormGroup.invalid" (click)="Save()">
                                    Save Record
                                </button>
                                <button mat-raised-button color="accent" (click)="nextStep()" class="submit-button mr-8"
                                    type="button">
                                    Next
                                </button>
                            </div>
                        </form>
                    </div>
                </mat-tab>

                <mat-tab>
                    <ng-template mat-tab-label>
                        <div style="display: block;">
                            <div>
                                <img src="assets/icons/TabIcon/CaseDocuments.svg" onerror="this.onerror=null;">
                            </div>
                            <div style="font-size: 12px;">Documents</div>
                        </div>

                    </ng-template>
                    <div class="p-20">
                        <form name="fifthFormGroup" [formGroup]="fifthFormGroup" fxLayout="column" novalidate
                            autocomplete="off">
                            <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="column">
                                <div class="example-column">
                                    <div fxFlex="1 0 auto" fxLayout="row" fxLayout.xs="column">
                                        <div style="width: 95%;">
                                            <div class="file-uploader">
                                                <input hidden type="file" #DocumentfileInput
                                                    (change)="handleFileInput($event.target.files)" />
                                                <button mat-raised-button type="button" color="accent"
                                                    class="add-file-button" (click)="DocumentfileInput.click()"
                                                    aria-label="Add file">
                                                    <mat-icon>add</mat-icon>
                                                    Document
                                                </button>
                                                <p style="display: inline-block; margin-left: 1%;">
                                                    <b>{{ DocumentfileInput?.files[0]?.name }}</b></p>
                                            </div>
                                            <mat-progress-bar class="mt-16 mb-16" [color]="'warn'" mode="determinate"
                                                [value]="progress"></mat-progress-bar>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button mat-raised-button color="accent" class="submit-button mr-8"
                                        [disabled]="disableContactButton" type="button" (click)="UploadDocument()">
                                        Upload
                                    </button>
                                </div>
                            </div>

                            <p>
                                <mat-divider></mat-divider>
                            </p>

                            <p class="titletext">Uploaded Documents<mat-divider>
                                </mat-divider>
                            </p>

                            <div class="content-card example-container">
                                <table mat-table [dataSource]="documentDataSource" style="width:100%">
                                    <ng-container matColumnDef="Name">
                                        <th mat-header-cell *matHeaderCellDef><b>Document Name</b> </th>
                                        <td mat-cell *matCellDef="let element">
                                            {{element.documentName}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="UploadedBy">
                                        <th mat-header-cell *matHeaderCellDef> <b>Uploaded By</b> </th>
                                        <td mat-cell *matCellDef="let element">
                                            <p class="text-truncate">{{element.uploadedBy}}</p>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Date">
                                        <th mat-header-cell *matHeaderCellDef> <b>Date</b> </th>
                                        <td mat-cell *matCellDef="let element">
                                            <p class="text-truncate">{{element.dateCreated|date: "MM/dd/yyyy"}}</p>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="edit">
                                        <th mat-header-cell *matHeaderCellDef> </th>
                                        <td mat-cell *matCellDef="let element">
                                            <button mat-icon-button matTooltip="Download"
                                                (click)="DownloadDocument(element.documentID,element.documentName)">
                                                <mat-icon [color]="'accent'">get_app</mat-icon>
                                            </button> </td>
                                    </ng-container>

                                    <ng-container matColumnDef="delete">
                                        <th mat-header-cell *matHeaderCellDef> </th>
                                        <td mat-cell *matCellDef="let element">
                                            <button mat-icon-button matTooltip="Remove"
                                                (click)="DeleteDocument(element.documentID)">
                                                <mat-icon [color]="'accent'">delete</mat-icon>
                                            </button> </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedDocument;"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedDocument;"></tr>

                                </table>
                            </div>

                            <div fxLayout="row" fxLayout.xs="row" class="mt-16" style="justify-content: space-between;">
                                <button mat-raised-button color="accent" (click)="previousStep()" type="submit">
                                    Previous
                                </button>
                                <!-- <button mat-raised-button color="accent" class="submit-button mr-8" (click)="Save()"
                                    type="submit">
                                    Save Record
                                </button> -->
                                <button mat-raised-button color="accent" class="submit-button  mr-8" type="button"
                                    [disabled]="firstFormGroup.invalid || thirdFormGroup.invalid" (click)="Save()">
                                    Save Record
                                </button>
                            </div>
                        </form>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>