<div id="VisitActivity" class="dialog-content-wrapper">

    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    note
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Visit Activity
                </span>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="m-0" fusePerfectScrollbar>
        <form name="VisitActivity" [formGroup]="VisitActivity" class="pt-12 pb-12" (ngSubmit)="SaveVisitActivity()"
            novalidate autocomplete="off">

            <mat-form-field class="example-column">
                <input matInput readonly [matDatepicker]="DateAppointmentpicker" placeholder="Date Of Appointment"
                    aria-invalid="false" formControlName="AppointmentDate">
                <mat-datepicker-toggle matSuffix [for]="DateAppointmentpicker"> </mat-datepicker-toggle>
                <mat-datepicker #DateAppointmentpicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="example-column example-margin">
                <input matInput readonly [matDatepicker]="DateReportpicker" placeholder="Date Report Completed"
                    aria-invalid="false" formControlName="ReportCompDate">
                <mat-datepicker-toggle matSuffix [for]="DateReportpicker"> </mat-datepicker-toggle>
                <mat-datepicker #DateReportpicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="example-column">
                <mat-label>Type Of Visit</mat-label>
                <mat-select formControlName="TYpeOfVisit">
                    <mat-option *ngFor="let TypeOfVisit of getddlTypeOfVisit" [value]="TypeOfVisit.id">
                        {{TypeOfVisit.name}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="example-column example-margin">
                <mat-label>Fee Charged (£)</mat-label>
                <input matInput formControlName="FeeChargedVisit">
            </mat-form-field>

            <div class="contentCenter p-12">
                <div>
                    <button mat-raised-button color="accent" type="submit">
                        Save
                    </button>
                    <button mat-raised-button color="accent" type="button" (click)="dialogRef.close()"
                        style="margin-left: 10px;">
                        Cancel
                    </button>
                </div>
                <div *ngIf="errorText" class="mt-16">
                    <p style="color: red;">{{ errorText }}</p>
                </div>
                <div *ngIf="working" class="mt-16">
                    <mat-spinner [diameter]="25"></mat-spinner>
                </div>
            </div>
        </form>
    </div>
</div>